<a href="https://www.lineups.com/betting/go/fanduel-sb/" rel="nofollow noopener">
  <img class="mobile-popup-only" src="/assets/images/pennsylvania-images/mobile-popup-only.png" alt="pennsylvania-image">
  <img class="image-ss" src="/assets/images/pennsylvania-images/image-ss.png" alt="pennsylvania-image">
  <img class="image-xs" src="/assets/images/pennsylvania-images/image-xs.png" alt="pennsylvania-image">
  <img class="image-md" src="/assets/images/pennsylvania-images/image-md.png" alt="pennsylvania-image">
</a>
