<ng-template #teamLink>
  <a [routerLink]="teamLineup.nav.team_lineup_route"
     routerLinkActive="active"
     [ngClass]="{'long-team-name': teamLineup.nav.team_name.length > 10}"
     [appPreselectNbaLineupTeamSeason]="activeYear"
     [routerLinkActiveOptions]="{exact: true}"
     class="page-heading-nav-btn">{{teamLineup.nav.team_name}} Lineup</a>
</ng-template>

<ng-template #oppTeamLink>
  <a [routerLink]="teamLineup.nav.opp_lineup_route"
     routerLinkActive="active"
     [appPreselectNbaLineupTeamSeason]="activeYear"
     [routerLinkActiveOptions]="{exact: true}"
     [ngClass]="{'long-team-name': teamLineup.nav.opp_name.length > 10}"
     class="page-heading-nav-btn">{{teamLineup.nav.opp_name}} Lineup</a>
</ng-template>

<ng-template #lineupState>
  <div *ngIf="pageHeader === 'Lineup' && (teamLineup.nav.lineup_confirmed || teamLineup.nav.lineup_confirmed === false)" class="team-heading-lineup-state participant-lineup-state">
    <!-- Team Lineup State -->
    <div *ngIf="teamLineup.nav.lineup_confirmed" class="confirmed-lineup">
      <p class="lineup-state confirmed nowrap"><img src="/assets/images/green-check.png" alt="green-check"/>
        <span class="lineup-confirmed-name">Confirmed</span>
        <span class="short-lineup-confirmed-name">Conf</span>
      </p>
    </div>
    <div *ngIf="teamLineup.nav.lineup_confirmed === false" class="projected-lineup">
      <p class="lineup-state projected nowrap"><img src="/assets/images/red-x.png" alt="red-x" />
        <span class="lineup-confirmed-name">Projected</span>
        <span class="short-lineup-confirmed-name">Proj</span>
      </p>
    </div>
  </div>
</ng-template>


<!-- Starting Lineups Content -->
<div class="team-lineup content">
  <!-- Starting Lineup Box Loader -->
  <div *ngIf="teamLineup === undefined" class="starting-lineup-loader">
    <img class="loader-image" alt="spinner" src="/assets/images/Ripple.svg">
  </div>
  <!-- Page Wrap -->
  <div *ngIf="teamLineup !== undefined" class="page-wrap container-fluid">
    <!-- Breadcrumbs -->
    <app-breadcrumb (performActionOnClick)="performActionOnBreadcrumbClick($event)"></app-breadcrumb>
    <!-- Starting Lineups Page Title -->
    <div class="row">
      <div class="clearfix team-lineup-heading-wrap mlb-team-lineup-header col-lg-8 col-12">
        <!-- Team Lineup Heading Text-->
        <div class="team-lineup-heading-text">
          <!-- Team Lineup Heading Left -->
          <div class="team-lineup-heading-left" [ngClass]="{'no-opponent': !(teamLineup.nav.opp_lineup_route && isDefaultSeason)}">
            <div class="team-logo">
              <img [type]="'white'" [appSpriteImg]="'nba'" align="middle" [src]="teamLineup.nav.team_logo_white" alt="{{teamLineup.nav.team_name}}"/>
            </div>
            <div class="team-heading-info">
              <h1 class="team-name">
                <span class="hidden-xs-down">{{pageTitle}}</span>
                <span class="hidden-sm-up">{{teamLineup.nav.team_name | lastTeamName}} {{pageHeader === 'Lineup' ? 'Starting Lineup' : pageHeader}}</span>
              </h1>
              <h4 class="page-subheading team-meta-info">
                <div class="alt-state-view">
                  <ng-template [ngTemplateOutlet]="lineupState"></ng-template>
                </div>

                <span class="team-record">{{teamLineup.nav.team_record}},</span>
                <!-- Team Division Rank -->
                <span class="team-division-rank">{{teamLineup.nav.team_rank | ordinal}}</span>
                <span class="team-league-and-division"> in {{teamLineup.nav.team_conference}} {{teamLineup.nav.team_division}}</span>
              </h4>
            </div>

            <ng-template [ngTemplateOutlet]="lineupState"></ng-template>

          </div>

          <!-- Team Lineup Heading Right -->
          <!--hidden for now 1570 http://www.seoservicesla.com/projects/148?modal=Task-52639-148-->
          <ng-container *ngIf="false && teamLineup.nav.opp_lineup_route && isDefaultSeason">
            <div *ngIf="!teamLineup.nav?.status || (teamLineup.nav.status.status !== 'In Progress' && teamLineup.nav.status.status !== 'Final')" class="team-lineup-heading-right" >
              <div class="float-right">
                <h4 class="opponent-team-name">
                  <span *ngIf="!teamLineup?.nav.is_home" class="team-game-location">at</span>
                  <span *ngIf="teamLineup?.nav.is_home" class="team-game-location">vs</span>
                  <span class="opponent-team-name">{{teamLineup?.nav.opp_abbr}}</span>
                </h4>
                <h4 class="event-date">
                  <app-general-time-format [time]="teamLineup.nav.matchup_time"></app-general-time-format>
                </h4>
                <!--updated-nba-commented-->
                <!--<div *ngIf="pageHeader === 'Lineup' && teamLineup.nav.updated" class="updated-block-mobile">-->
                  <!--Updated: <app-general-time-format [time]="teamLineup.nav.updated" [showSeoTime]="true" [showTimeAgo]="true"></app-general-time-format>-->
                <!--</div>-->
              </div>
            </div>
            <div *ngIf="teamLineup.nav.status?.status === 'In Progress'" class="team-lineup-heading-right" >
              <div class="float-right">
                <h4 class="opponent-team-name text-center" style="font-weight: normal">
                  <span>{{teamLineup.nav.is_home ? teamLineup.nav.opp_abbr : teamLineup.nav.team_abbr}} {{teamLineup.nav.status.away_team_score}}</span>
                  @
                  <span>{{teamLineup.nav.is_home ? teamLineup.nav.team_abbr : teamLineup.nav.opp_abbr}} {{teamLineup.nav.status.home_team_score}}</span>
                </h4>
                <h4 *ngIf="!showHalftime(teamLineup.nav.status)" class="event-date text-center" style="font-weight: normal">
                  Q{{teamLineup.nav.status.quarter_integer}} {{teamLineup.nav.status.minutes}}:{{teamLineup.nav.status.seconds | number : '2.0-0'}}
                </h4>
                <h4 *ngIf="showHalftime(teamLineup.nav.status)" class="event-date text-center" style="font-weight: normal">
                  Halftime
                </h4>
                <!--updated-nba-commented-->
                <!--<div *ngIf="pageHeader === 'Lineup' && teamLineup.nav.updated" class="updated-block-mobile">-->
                  <!--Updated: <app-general-time-format [time]="teamLineup.nav.updated" [showSeoTime]="true" [showTimeAgo]="true"></app-general-time-format>-->
                <!--</div>-->
              </div>
            </div>
            <div *ngIf="teamLineup.nav.status?.status === 'Final'" class="team-lineup-heading-right" >
              <div class="float-right">
                <h4 class="opponent-team-name text-center" style="font-weight: normal">
                  <span [ngClass]="{'font-bold': isWinner(teamLineup.nav.status.away_team_score, teamLineup.nav.status.home_team_score)}">{{teamLineup.nav.is_home ? teamLineup.nav.opp_abbr : teamLineup.nav.team_abbr}} {{teamLineup.nav.status.away_team_score}}</span>
                  @
                  <span [ngClass]="{'font-bold': isWinner(teamLineup.nav.status.home_team_score, teamLineup.nav.status.away_team_score)}">{{teamLineup.nav.is_home ? teamLineup.nav.team_abbr : teamLineup.nav.opp_abbr}} {{teamLineup.nav.status.home_team_score}}</span>
                  <span class="final-text-mobile">Final</span>
                </h4>
                <h4 style="font-weight: normal" class="event-date text-center final-text-normal">Final</h4>
                <!--updated-nba-commented-->
                <!--<div *ngIf="pageHeader === 'Lineup' && teamLineup.nav.updated" class="updated-block-mobile">-->
                  <!--Updated: <app-general-time-format [time]="teamLineup.nav.updated" [showSeoTime]="true" [showTimeAgo]="true"></app-general-time-format>-->
                <!--</div>-->
              </div>
            </div>
          </ng-container>
        </div>
        <!-- Collapse Menu -->
        <div class="in-page-collapse-toggle">
          <button type="button" class="collapse-page-nav-btn btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            Menu
          </button>
        </div>
        <div class="in-page-nav-menu" [ngbCollapse]="!isCollapsed" [ngClass]="{'hidden': !isCollapsed}">
          <!-- Team Lineup Heading Navigation -->
          <div class="page-heading-navigation">
            <div *ngIf="teamLineup.nav.is_home && teamLineup.nav.opp_lineup_route" class="home-team-tab tab-btn-wrap">
              <ng-container *ngTemplateOutlet="oppTeamLink"></ng-container>
            </div>
            <div *ngIf="!teamLineup.nav.is_home && teamLineup.nav.team_lineup_route" class="home-team-tab tab-btn-wrap">
              <ng-container *ngTemplateOutlet="teamLink"></ng-container>
            </div>
            <div *ngIf="!teamLineup.nav.is_home && teamLineup.nav.opp_lineup_route" class="away-team-tab tab-btn-wrap">
              <ng-container *ngTemplateOutlet="oppTeamLink"></ng-container>
            </div>
            <div *ngIf="teamLineup.nav.is_home && teamLineup.nav.team_lineup_route" class="away-team-tab tab-btn-wrap">
              <ng-container *ngTemplateOutlet="teamLink"></ng-container>
            </div>
            <div *ngIf="teamLineup.nav.matchup_route" class="tab-btn-wrap">
              <a [appNbaMatchupIdPreselect]="teamLineup.nav.game_id" [routerLink]="[teamLineup.nav.matchup_route]"
                 class="page-heading-nav-btn">Matchups</a>
            </div>
            <!--news commented-->
            <!--<div *ngIf="teamLineup.nav.team_news_route" class="tab-btn-wrap">-->
              <!--<a [appPreselectNbaNewsTeamSeason]="activeYear"-->
                 <!--[routerLink]="[teamLineup.nav.team_news_route]"-->
                 <!--[routerLinkActive]="'active'"-->
                 <!--class="page-heading-nav-btn">News</a>-->
            <!--</div>-->
            <div *ngIf="teamLineup.nav.team_roster_route" class="tab-btn-wrap">
              <a [routerLink]="[teamLineup.nav.team_roster_route]"
                 [appPreselectNbaRosterTeamSeason]="activeYear"
                 [class.active]="isLinkActive(teamLineup.nav.team_roster_route)"
                 class="page-heading-nav-btn">Roster</a>
            </div>
            <div *ngIf="teamLineup.nav.team_depth_chart_route" class="tab-btn-wrap">
              <a [routerLink]="[teamLineup.nav.team_depth_chart_route]"
                 [appPreselectNbaDepthChartTeamSeason]="activeYear"
                 [class.active]="isLinkActive(teamLineup.nav.team_depth_chart_route)"
                 class="page-heading-nav-btn">Depth Chart</a>
            </div>
            <div *ngIf="teamLineup.nav.team_injuries_route" class="tab-btn-wrap">
              <a [routerLink]="[teamLineup.nav.team_injuries_route]"
                 [routerLinkActive]="'active'"
                 class="page-heading-nav-btn">Injuries</a>
            </div>
            <div class="tab-btn-wrap last">
              <a [routerLink]="[teamLineup.nav.team_schedule_route]"
                 [appPreselectNbaScheduleTeamSeason]="activeYear"
                 [class.active]="isLinkActive(teamLineup.nav.team_schedule_route)"
                 class="page-heading-nav-btn">Schedule</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 after-text-margin zero-lg-height">
        <app-ad-component [league]="'nba'"></app-ad-component>
      </div>
    </div>
    <!-- ROUTER OUTLET -->
    <router-outlet></router-outlet>
  </div>
</div>
