:host {
  .logo-name {
    text-align: center;
    padding: 3px 0;
    a, span {
      color: white;
      font-size: 16px;
      font-weight: bold;
    }
  }
  ::ng-deep .multi-row-data-table-wrapper .multi-row-data-table td {
    text-align: left;
    line-height: 18px;
    padding: 0 0 0 5px;
    vertical-align: middle;
    &.column-1 {
      text-align: center;
      padding: 0;
    }
  }
}
