<div class="auth-password-modal lu-modal">
  <div class="modal-header no-border">
    <div *ngIf="!blockUserActivity" class="header-actions">
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <h1 class="page-heading">Password Reset</h1>
  <div class="modal-tagline">
    Enter email address you use to login to lineups.com.
  </div>
  <form [formGroup]="resetForm" (ngSubmit)="submit()" name="reset">
    <div class="modal-controls">
      <div class="alert alert-danger" role="alert" [hidden]="!errorMessage">
        {{ errorMessage }}
      </div>
      <div class="form-field" [ngClass]="{'has-danger': !email.valid && !email.untouched}">
        <input type="email" class="form-control form-control-lg"
          [formControl]="email"
          [ngClass]="{'form-control-danger': email.hasError('required')}"
          placeholder="Email Address" required />
        <div class="form-control-feedback text-left" [hidden]="email.valid || email.untouched || !email.hasError('pattern')">Please enter valid email address.</div>
      </div>
    </div>
    <div class="modal-buttons">
      <button type="submit" class="btn btn-big btn-lu-blue btn-full-width">Reset Password</button>
    </div>
  </form>
</div>
