<a [routerLink]="['/go/fd-sb/']" rel="nofollow noopener" target="_blank">
  <img class="image-xs" src="/assets/images/fanduel-images/image-xs.png" alt="fanduel-image">
  <img class="image-ss" src="/assets/images/fanduel-images/image-ss.png" alt="fanduel-image">
  <img class="image-sm" src="/assets/images/fanduel-images/image-sm.png" alt="fanduel-image">
  <img class="image-md" src="/assets/images/fanduel-images/image-md.png" alt="fanduel-image">
  <img class="image-lg" src="/assets/images/fanduel-images/image-lg.png" alt="fanduel-image">
</a>
