<div class="team-score-game">
  <table class="w-100">
    <tbody>
      <tr>
        <td width="46.25" class="pl-2">
          <!--<img class="small-icon" [src]="'assets/images/mlb/logos/bordered/' + one.away_image_route" alt="">-->
          <img class="small-icon" src="assets/images/mlb/logos/white/atlanta-braves-white.svg" alt="">
          <span class="team-name-score">ATL</span>
        </td>
        <td class="text-center box box-blue" width="16.87">1</td>
        <td width="37.5%" rowspan="2">
          <div class="diamond-container d-flex justify-content-center">
            <div class="diamond align-self-center" [ngClass]="{active: true}"></div>
            <div class="diamond align-self-start" [ngClass]="{active: true}"></div>
            <div class="diamond align-self-center" [ngClass]="{active: false}"></div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="pl-2 top-border">
          <!--<img class="small-icon" [src]="'assets/images/mlb/logos/bordered/'+ one.home_image_route" alt="">-->
          <img class="small-icon" src="assets/images/mlb/logos/white/los-angeles-dodgers-white.svg" alt="">
          <span class="team-name-score">LAD</span>
        </td>
        <td class="text-center box box-red">2</td>
      </tr>
      <tr class="top-border">
        <td colspan="3" class="px-2">
          <div class="d-flex justify-content-between">
            <div>
              <strong>Top 8th</strong>
            </div>
            <div>
              <strong>2 outs</strong>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

