<!--About Us-->
<div class="container-fluid site-pages-wrapper-container">
  <!-- Breadcrumbs -->
  <app-breadcrumb></app-breadcrumb>

  <div class="site-pages-wrapper">
    <h1 class="site-pages-title">About Us</h1>
    <div class="site-pages-content">We started Lineups.com, because this is fun for us. We enjoy coming to work each morning.  We are driven to build the most advanced machine learning sports tools ever created. We strive to create what doesn’t exist and create the next paradigm of sports betting and data utilization. Our goal is to give you the best chance of winning bets and fantasy contests. We put machine learning in your hands and allow you to see the real-time impact of your subjective input.  We save you hours of research time daily, and provide data and predictions you would never otherwise see. We are here to forever change the way people interact with advanced data and apply it to sports and betting.</div>
    <div class="about-teams">
      <div class="row">
        <div class="col-12">
          <div class="about-teams-item">
            <img src="/assets/images/team/Sam-Shefrin.png" alt="Sam Shefrin"/>
            <div>
              <h1>Sam Shefrin</h1>
              <h2>Operations + Marketing</h2>
              <p>Committed to leading the new paradigm of processing and utilizing sports data science. I want to enhance the way people watch sports, play fantasy and bet on sports. Bornand raised in Hawaii. Schooled at Emory University and earned an education through traveling. Hopeful that libraries and parks replace shopping malls. Atlanta sports fan and firm believer the Falcons ran twice, kicked a field goal and won Super Bowl 51. </p>
            </div>
          </div>
          <div class="about-teams-item">
            <img src="/assets/images/team/Tyler-Worthington.png" alt="Tyler Worthington"/>
            <div>
              <h1>Tyler Worthington</h1>
              <h2>Social Media + Communications</h2>
              <p>Provider of the insight to win fantasy leagues, bets, and DFS games to the Twittersphere. Diehard sports fan who has unfortunately been graced with supporting San Diego sports teams, and yes still the Chargers. Hoping that in my lifetime one of the teams I support will win something important. Current Arizona State University student. #ForksUp.</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="about-teams-item">
            <img src="/assets/images/team/timothy-johnson.png" alt="Tim Johnson"/>
            <div>
              <h1>Tim Johnson</h1>
              <h2>DJango + Python + AWS</h2>
              <p>Timothy Johnson is a passionate business executive with a zest for life and a desire to improve the world through software and business practices. Tim has written iOS and Android software for 9 years and has unmatched experience in mobile development and server infrastructure. Timothy’s other passion created at 13 year career at Harmony House, Inc., where he helped grow the company to one of the largest permanent housing providers in Houston.</p>
            </div>
          </div>
          <div class="about-teams-item">
            <img src="/assets/images/team/alex-kushnarov.png" alt="Alex Kushnarov"/>
            <div>
              <h1>Alex Kushnarov</h1>
              <h2>Angular Front-End Developer</h2>
              <p>Alex is a Front-end Developer with 5+ years of experience. He is focused on creating good-structured code, loves to create digital magic and elevate user experience to the next level. Alex has a Master's Degree in Software Engineering out of Kharkiv National Aviation Institute.</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="about-teams-item">
            <img src="/assets/images/team/team.png" alt="Team"/>
            <div>
              <h1>Development Team</h1>
              <h2>Development + Designers</h2>
              <p>We have a number part-time developers and designer that have helped us get to this point and want to show some love. We appreciate all their work and look forward to continuing the mission with our extended Dev family.</p>
            </div>
          </div>
          <div class="about-teams-item">
            <img src="/assets/images/team/team.png" alt="Team"/>
            <div>
              <h1>Content Team</h1>
              <h2>Articles + Podcasts + Betting</h2>
              <p>
                We have an outstanding content team consisting of NBA credentialed sports writers, a NFL beat writers, Daily Fantasy Sports accuracy champions, Data Scientists, Legal professionals, a Neuroscientist and Entrepreneurs.
                <a href="https://www.lineups.com/betting/about-writing-team/" rel="noopener" target="_blank">
                  Our writers
                </a>
                 bring quality each time they put pen to virtual paper and we appreciate all the fabulous content they bring to Lineups.com,
                <a href="https://www.lineups.com/articles/" rel="noopener" target="_blank">
                  Lineups Articles
                </a> and
                <a href="https://www.lineups.com/betting/" rel="noopener" target="_blank">
                  Lineups Betting
                </a>.
                Our next venture is bringing legal betting news stories, reviews and editorials to the Lineups community.
              </p>
            </div>
          </div>
          <!--<div class="about-teams-item">-->
            <!--<img src="/assets/images/team/Richi-Azar.png" alt="Richi Azar"/>-->
            <!--<div>-->
              <!--<h1>Richie Azar</h1>-->
              <!--<h2>Data Scientist + Research</h2>-->
              <!--<p>PhD in theoretical chemistry out of UC Berkeley. Forever excited about using math and science to say something about the world. Sports accolades include: Terminator 2 pinball grand champion.</p>-->
            <!--</div>-->
          <!--</div>-->
        </div>
      </div>

    </div>
    <div class="schema-wrapper">
      <div>
        <a class="link-black" rel="noopener" href="https://www.lineups.com/assets/images/logo/logo.png">
          <img class="logo" src="/assets/images/logo/logo.png" alt="logo">
        </a>
        <br>
        <strong>Business Name:</strong> <span>Lineups.com, Inc.</span>
        <br>
        <strong>Url:</strong> <a href="https://www.lineups.com">https://www.lineups.com</a>
        <br>
        <strong>Business Description:</strong> <span>Lineups.com, Inc. is an online sports analytics company specializing in betting predictions and tools. It is based in Irvine, California, United States.</span>
        <br>
        <span>
          <strong>Customer service</strong><strong>:</strong> <a href="tel:+13109060648">1 (310) 906-0648</a>
        </span>
        <br>
        <strong>Email:</strong> <a href="mailto:info@lineups.com">info@lineups.com</a>
        <br>
        <strong>Headquarters:</strong>
        <div class="d-inline-block">
          <span>Irvine</span>,
          <span>CA</span>
        </div>
        <br>
        <strong>CEO:</strong> <span>Sam Shefrin</span>
        <br>
        <strong>Founder:</strong> <span>Sam Shefrin</span>
        <br>
        <strong>Founded:</strong> <span>2017</span>
        <br>
      </div>
    </div>
  </div>
</div>
