<!--Affiliate Page-->
<div class="container-fluid site-pages-wrapper-container">
  <div class="site-pages-wrapper">
    <!-- Breadcrumbs -->
    <app-breadcrumb></app-breadcrumb>

    <h1 class="site-pages-title">Affiliate Program</h1>

    <div class="Affiliate-pages">
      <h1>Highest Payout of any Betting or Daily Fantasy Tools affiliate program <a href="#">Affiliate Login</a></h1>
      <div class="Affiliate-pages-inner">
        <div class="Affiliate-pages-inner-item">
          <div class="Affiliate-pages-inner-item-left">
            <div class="Affiliate-pages-inner-item-left-inner">
              <h1>51% Commission on Sales</h1>
              <ul>
                <li>Make up to $150/month per referral for 2 years!</li>
                <li>You will ALWAYS get paid on time.</li>
                <li>iDevAffiliate 3rd party affiliate software with real-time tracking and automated reporting.</li>
                <li>Tracking cookies don’t expire, so you get commission credit even if a user signs up months later.</li>
                <li>Marketing material to help you convert at the highest levels.</li>
              </ul>
            </div>
          </div>
          <div class="Affiliate-pages-inner-item-right">
            <h1>Become an Affiliate. Get Paid.</h1>
            <a href="#">Sign Up Now <i class="fa fa-caret-right"></i></a>
          </div>
        </div>
      </div>
      <div class="Affiliate-pages-content">
        <h2>Affiliates We Work With</h2>
        <p>We are selective on the affiliate partners we work with, but encourage everyone to apply. We work with people that have an existing audience and can hit the ground running. If you have a sports or fantasy website, social media following, email list, we have the tools to convert your audience.  Apply today and we will respond to each application.</p>
      </div>
      <div class="Affiliate-pages-content">
        <h2>Why Promote Lineups.com?</h2>
        <ul>
          <li>Highest payouts in the industry</li>
          <li>No other website provides the same Betting Tools and Predictions</li>
          <li>iDevAffiliate affiliate software has been in business for 15 years. It’s trusted and guaranteed to track every commission.</li>
          <li>Get paid on time, always.</li>
          <li>We’ve been affiliates before and understand the value of affiliate partners.  We’ve seen websites shave affiliate commissions. We’ve felt the pain of a program shutting down without paying out tens of thousands of dollars in commission. We know what it’s like to track down past commissions due for months on end. We will not do this to you. You will be given credit for every referral and paid on time. We are looking for long-term partners and believe in rewarding our affiliate partners for the work they do.</li>
        </ul>
        <p>Email Affiliate Manager: <a href="#">affiliates@lineups.com</a>
        <p><a href="#">Read Affiliate Terms and Conditions</a></p>
      </div>
    </div>
  </div>
</div>
