<ng-template #loadingTpl>
  <div class="starting-lineup-loader">
    <img class="loader-image" alt="spinner" src="/assets/images/Ripple.svg">
  </div>
</ng-template>

<div class="container-fluid" *ngIf="data && !loading; else loadingTpl">
  <app-breadcrumb></app-breadcrumb>
  <div class="row">

    <div class="col-12 col-lg-8">
      <div #containerEl class="d-flex flex-wrap after-heading-margin">
        <div>
          <h1 #headingEl class="page-heading m-0">
            <span class="hidden-xs-down">{{data.title}}</span>
            <span class="hidden-sm-up">MLB Depth Charts</span>
          </h1>
        </div>
        <app-twitter-follow-btn [textElement]="headingEl" [containerElement]="containerEl"></app-twitter-follow-btn>
      </div>
      <div *ngIf="data.intro_paragraph" class="hidden-md-down">
        <p class="site-pages-content mb-0" [innerHTML]="data.intro_paragraph | safeHtml"></p>
      </div>
    </div>
    <div class="col-12 col-lg-4 gateway-video-container">
      <app-ad-component [league]="'mlb'"></app-ad-component>
    </div>

    <div *ngIf="data.intro_paragraph" class="col-12 flex-last flex-sm-unordered hidden-lg-up">
      <p class="site-pages-content" [innerHtml]="data.intro_paragraph | safeHtml"></p>
    </div>

    <div class="col-12 before-text-margin">
      <div class="d-flex flex-wrap depth-charts-wrapper">
        <div *ngFor="let teamName of teamMapArr" class="single-depth-chart-wrapper">
          <app-single-dp-item [teamName]="teamName" [tableData]="this.teamMap[teamName]"></app-single-dp-item>
        </div>
      </div>
    </div>
    <div *ngIf="data.bottom_paragraph" class="col-12 flex-last flex-sm-unordered">
      <h2 *ngIf="data.bottom_header" class="page-heading-two">
        {{data.bottom_header}}
      </h2>
      <p class="site-pages-content" [innerHtml]="data.bottom_paragraph | safeHtml"></p>
    </div>
  </div>
</div>
