@import "../../scss/shared/variables/project";
@import "../../scss/bootstrap-customization/custom-mixins";
:host {
  $table-max-width: 1460px;
  $first-breakpoint: 1499px;
  $pagination-breakpoint: 830px;
  $team-name-breakpoint: 1380px;
  $hide-pagination: 786px;
  $third-breakpoint: 650px;
  $table-breakpoint: 1231px;
  $table-min-width: 920px;

  $hide-radios-br: 1331px;
  .show-dd-radios, .team-short-name {
    display: none;
  }
  @media (max-width: $hide-radios-br) {
    .show-radios {
      display: none;
    }
    .show-dd-radios {
      display: block;
    }
  }
  @media (max-width: $team-name-breakpoint) {
    .team-long-name {
      display: none;
    }
    .team-short-name {
      display: inline;
    }
  }

  @media (min-width: $first-breakpoint) {
    .logo-sm {
      width: 29px;
    }
    .multi-row-data-table {
      .t-sub-header, .t-content {
        height: 45px;
      }
      .t-sub-header, .t-content {
        font-size: 1rem;
      }
    }
  }

  .multi-row-data-table-wrapper {
    max-width: $table-max-width;

    min-width: 0;
    margin: 0 auto;

    .rating-col, .pos-col {
      width: 70px;
    }
    .team-col, .player-name-col {
      width: 230px;
    }

    @media (max-width: $table-breakpoint) {
      .multi-row-data-table .t-content *, .multi-row-data-table .t-content th[scope="row"] {
        font-size: 11px;
      }
      .multi-row-data-table .t-sub-header *, .multi-row-data-table .t-single-header * {
        font-size: 0.6rem;
      }
      .rating-col, .pos-col {
        width: 50px;
      }
      .team-col, .player-name-col {
        width: 180px;
      }
    }
    @media (max-width: 543px) {
      .rating-col, .pos-col {
        width: 40px;
      }
      .team-col, .player-name-col {
        width: 170px;
      }
    }
  }

  .top-dd-wrapper {
    @include flex-row-mixin();
    .pagination-wrapper {
      margin-left: auto;
    }
    @media (max-width: $third-breakpoint) {
      @include flex-column-mixin();
    }
  }

  .search-input-wrapper {
    &.normal-view {
      display: block;
      margin-left: auto;
      padding-left: 20px;
    }
    &.mobile-view {
      display: none;
    }
    @media (max-width: $third-breakpoint) {
      &.normal-view {
        display: none;
      }
      &.mobile-view {
        display: block;
      }
    }
  }
  .top-search-wrapper {
    max-width: $table-max-width;
    flex: 1;
    margin-left: calc((100% - #{$table-max-width + 1}) / 2);

    @media (max-width: $first-breakpoint) {
      margin-left: 0;
    }
    @media (max-width: $third-breakpoint) {
      @include flex-column-mixin();
      .search-input-wrapper {
        margin: 0 0 1rem 0;
      }
    }
  }

  .pagination-wrapper {
    min-width: 345px;
    @include flex-row-mixin();

    @media (max-width: $pagination-breakpoint) {
      min-width: 300px;
    }

    @media (max-width: $hide-pagination) {
      min-width: 0;
      .pagination-controls-wrapper {
        display: none !important;
      }
    }

    @media (max-width: $third-breakpoint) {
      margin-bottom: 1.125rem;
    }

  }


  .pagination-wrapper ::ng-deep .ngx-pagination {
    padding: 0 !important;
    text-align: center;
    @media (max-width: $pagination-breakpoint) {
      font-size: 12px;
    }
  }

  @media (max-width: 380px) {
    .pagination-controls-wrapper {
      font-size: 11px;
    }
  }

  .players-ratings-wrapper {
    @media (max-width: 633px) {
      .player-name-col {
        width: 150px;
      }
    }
    @media (max-width: $table-min-width + 49px) {
      .multi-row-data-table-wrapper.custom-width {
        overflow-x: auto;
        table {
          min-width: $table-min-width;
        }
      }
    }
  }
}
