<div class="jumbotron">
  <h1 class="text-center" style="text-transform: uppercase;">Lineups.com Future of Sports Scholarship Program</h1>
</div>

<div class="container-fluid">
  <app-breadcrumb></app-breadcrumb>
  <div class="row">
    <div class="col-12 text-center">
      <a [routerLink]="['./']" class="link-black-underline px-2" style="background: #01afed; color: white;">Scholarship Overview</a> |
      <a href="https://www.lineups.com/articles/scholarship-application/" class="link-black-underline px-2">Scholarship Application</a> |
      <a href="https://www.lineups.com/articles/scholarship-terms/" rel="nofollow" class="link-black-underline px-2">Scholarship Terms</a>
    </div>
  </div>
</div>



<div class="home-container-wrapper">
  <div class="col-12">
    <h2 class="home-title mb-5">Scholarship Program Overview</h2>
  </div>
  <div class="home-container">
    <div class="home-container-inner">
      <div class="row">
        <div class="col-12">
          <p>
            <img src="/assets/images/scholarship/soccerscholarship.jpg" class="soccer-scholarship" alt="soccer scholarship">
            Lineups.com is a leader in sports data and news, focused on enhancing the experience of professional and collegiate sports fans.
            <a [routerLink]="['/']">Lineups</a>
            uses advanced analytics to predict game outcomes and has created a community of passionate sports fans.
            Lineups provides news and articles on eSports, fantasy sports and general sports events. Lineups has been supporting college students via sports writing and eSports writing Internships for years.
            It’s been a fulfilling experience helping younger adults further their path to achieve their goals.
          </p>
          <p>
            <a [routerLink]="['./']">The Lineups.com Future of Sports Scholarship</a>
            is next evolution of one our goals, which is to give back and support our youth. The future of our country is struggling with debt from college and we want to do our part to help. Our scholarships are for high school, undergraduate students and adults who need financial assistance for school tuition or related schooling expenses.
          </p>
          <p>
            We are passionate about sports and our Scholarships are specifically for those interested in a career in the sports entertainment world.
            We understand, you may not know your career direction yet, but we are looking for applicants who have demonstrated an interest in Sports or eSports prior to applying.  This interest could be in the form of playing organized sports, sports journalism, eSports, sports media, and/or studying in a sports related field in school.
          </p>
          <p>
            <strong>Application Deadlines:</strong> November 30, 2020, May 31, 2022
          </p>
          <p>
            <strong>Scholarship Amounts:</strong> $1,000
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="multi-row-data-table-wrapper">
            <table class="multi-row-data-table custom-font">
              <tbody>
              <tr class="t-header" style="background-color: #01afed; border-color: #01afed; color: white;">
                <th class="text-center" scope="colgroup" colspan="4" style="font-size: 1.5rem;">
                  Current Scholarships
                </th>
              </tr>
              <tr class="t-sub-header">
                <th class="text-center">Scholarship</th>
                <th class="text-center">Award</th>
                <th class="text-center">Deadline</th>
                <th class="text-center">Apply</th>
              </tr>
              <tr class="t-content">
                <td class="text-left">
                  <strong>Scholarship for Education: Fall 2020</strong><br>
                  Enrolled college and university students of 16 years of age eligible. Awarded each year.
                </td>
                <td>
                  <strong>$1,000</strong>
                </td>
                <td>
                  November 30, 2020
                </td>
                <td>
                  <a href="https://www.lineups.com/articles/scholarship-application/" class="btn btn-primary">Apply Now!</a>
                </td>
              </tr>
              <tr class="t-content">
                <td class="text-left">
                  <strong>Scholarship for Education: Spring 2021</strong><br>
                  Enrolled college and university students of 16 years of age eligible. Awarded each year.
                </td>
                <td>
                  <strong>$1,000</strong>
                </td>
                <td>
                  May 31, 2021
                </td>
                <td>
                  <a href="https://www.lineups.com/articles/scholarship-application/" class="btn btn-primary">Apply Now!</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
              <div class="winning-systems-card">
                <app-defer-load>
                  <ng-template>
                    <div class="image-wrapper">
                      <span class="helper"></span>
                      <img src="/assets/images/scholarship/application.png" alt="">
                    </div>
                  </ng-template>
                </app-defer-load>
                <div>
                  <h4>Submit Application</h4>
                  <p>Submit online in minutes.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
              <div class="winning-systems-card">
                <app-defer-load>
                  <ng-template>
                    <div class="image-wrapper">
                      <span class="helper"></span>
                      <img src="/assets/images/scholarship/scholarship-award.png" alt="">
                    </div>
                  </ng-template>
                </app-defer-load>
                <div>
                  <h4>Scholarship Awarded</h4>
                  <p>$1,000 from Lineups.com, Inc</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
              <div class="winning-systems-card">
                <app-defer-load>
                  <ng-template>
                    <div class="image-wrapper">
                      <span class="helper"></span>
                      <img src="/assets/images/scholarship/college-funds.png" alt="">
                    </div>
                  </ng-template>
                </app-defer-load>
                <div>
                  <h4>College Funding</h4>
                  <p>Pay for tuition, housing, books</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home-container-wrapper">
  <div class="col-12">
    <h2 class="home-title mb-5">Eligibility</h2>
  </div>
  <div class="home-container">
    <div class="home-container-inner">
      <ul>
        <li>Applicants must fill out the application form</li>
        <li>Applicants must be at least 16 years or older</li>
        <li>Applicants must be a US or Canadian resident</li>
        <li>Applicants must be enrolled in a high school, college, university or graduate program</li>
        <li>Applicants must read and agree to <a href="https://www.lineups.com/articles/scholarship-terms/">Scholarship Terms and Conditions</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="home-container-wrapper">
  <div class="col-12">
    <h2 class="home-title mb-5">Scholarship Selection Process</h2>
  </div>
  <div class="home-container">
    <div class="home-container-inner">
      <div class="row">
        <div class="col-xl-3 text-center col-lg-4 mb-2">
          <img width="140px" src="/assets/images/team/Sam-Shefrin.png" alt="Sam Shefrin"/>
        </div>
        <div class="col-xl-9 col-lg-8">
          <p>
            Lineups.com, Inc. founder Sam Shefrin will review all applications and select 3 finalists. There will then be a 10-15 minute video meeting and the winner will be selected, notified and posted to the website. By applying for the scholarship, you represent that you meet all the criteria for eligibility requirements.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
