:host {
  .arrow-container {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;

    text-align: center;
    font-size: 14px;
    line-height: 17px;
    i {
      cursor: pointer;
      margin: 0 10px;
      &.disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }
}
