<div class="container-fluid site-pages-wrapper-container">
  <div class="row">
    <div class="col-12">
      <app-breadcrumb></app-breadcrumb>
    </div>
  </div>
  <div class="site-pages-wrapper">
    <div class="row">
      <div class="col-12">
        <h1 class="site-pages-title">Friends</h1>
        <p class="site-pages-content">
          We're picky about our friends and we've met some great people and teams along our journey.  Please take a moment to visit their websites and check out their offerings.
        </p>
      </div>
    </div>

    <div class="row friends-list mb-5">

      <div class="col-12 friend-item">
        <div class="d-flex">
          <div class="img-container">
            <img src="/assets/images/friends/dailyfaceoff.png" alt="Daily Faceoff">
          </div>
          <div class="align-self-center">
            <p class="site-pages-content">
              Daily Faceoff is a friend and valuable resource.
              There is no other hockey news and data site like it.
              <a href="https://www.dailyfaceoff.com" target="_blank" rel="noopener">DailyFaceoff.com</a> provides fast and the most trusted starting goalies and team line combinations.
              It's a one stop shop with the full <a href="https://www.dailyfaceoff.com/nhl-weekly-schedule/" target="_blank" rel="noopener">NHL Schedule</a> and <a href="https://www.dailyfaceoff.com/hockey-player-news/" target="_blank" rel="noopener">NHL hockey player news</a>.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 friend-item">
        <div class="d-flex">
          <div class="img-container">
            <img src="/assets/images/friends/scoresheet.png" alt="Scoresheet Sports">
          </div>
          <div class="align-self-center">
            <p class="site-pages-content">
              <a href="http://www.scoresheet.com" target="_blank" rel="noopener">Scoresheet Sports</a> has been offering realistic fantasy games for 31 years.
              Join the most realistic fantasy sports games available. Play H2H matchups with simulations using current player statistics.
              Become a real fantasy manager today and play with the best.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 friend-item">
        <div class="d-flex">
          <div class="img-container">
            <a href="https://www.fantasydata.com" target="_blank" rel="nofollow noopener" class="link-black">
              <img src="/assets/images/friends/fantasy-data.png" alt="FantasyData">
            </a>
          </div>
          <div class="align-self-center">
            <p class="site-pages-content">
              FantasyData has been a partner of ours for years.
              Their <a href="https://fantasydata.com/sports-data" target="_blank" rel="nofollow noopener">sports data</a> products power our tools, data analytics, and other unique features.
              FantasyData also offers research tools to help drive fantasy football success.
              Some of their most powerful tools include their historical <a href="https://fantasydata.com/nfl-stats/fantasy-football-leaders" target="_blank" rel="nofollow noopener">NFL stats</a> and
              <a href="https://fantasydata.com/nfl-stats/fantasy-football-weekly-projections" target="_blank" rel="nofollow noopener">NFL player projections</a>.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 friend-item">
        <div class="d-flex">
          <div class="img-container">
            <img src="/assets/images/friends/rotoballer-nfl-logo-new.gif" alt="RotoBaller">
          </div>
          <div class="align-self-center">
            <p class="site-pages-content">
              RotoBaller.com is your one-stop shop for fantasy analysis, sports news and live advice across ten sports.
              They specialize in <a href="https://www.rotoballer.com" target="_blank" rel="noopener">waiver wire pickups</a>,
              <a href="https://www.rotoballer.com/nfl-fantasy-football-rankings-tiered-ppr/265860" target="_blank" rel="noopener">fantasy football rankings</a>, and various tools for setting optimal lineups.
              Stop by their live chat rooms for real-time fantasy sports advice with experts, or to just talk shop.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 friend-item">
        <div class="d-flex">
          <div class="img-container">
            <img src="/assets/images/friends/baseball-logo.png" alt="Razzball">
          </div>
          <div class="align-self-center">
            <p class="site-pages-content">
              Razzball is a leader in fantasy sports advice and player projections.
              Their projections are available for purchase on their site and can be found in
              tools such as DFS Lineup Optimizers (for MLB, NFL & NBA) and
              <a href="https://razzball.com/trade_analyzer_mlb/" target="_blank" rel="noopener">Fantasy Trade Analyzers</a>
              (for MLB, <a href="https://football.razzball.com/trade-analyzer-fantasy-football" target="_blank" rel="noopener">NFL</a> &
              <a href="https://basketball.razzball.com/trade-analyzer-fantasy-basketball" target="_blank" rel="noopener">NBA</a>).
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 friend-item">
        <div class="d-flex">
          <div class="img-container fbschedules">
            <img src="/assets/images/friends/fbschedules.png" alt="FBSchedules">
          </div>
          <div class="align-self-center">
            <p class="site-pages-content">
              FBSchedules is the leader in schedule updates.
              For the full
              <a href="https://www.fbschedules.com/" target="_blank" rel="noopener">College football schedule </a>
              and more, visit our friends at FBSchedules for all your scheduling needs.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 friend-item">
        <div class="d-flex">
          <div class="img-container">
            <img src="/assets/images/friends/sicemdawgs-250-50.png" alt="SicEmDawgs">
          </div>
          <div class="align-self-center">
            <p class="site-pages-content">
              SicEmDawgs is a personal favorite of ours for everything you need to know about
              <a href="https://www.sicemdawgs.com/" target="_blank" rel="noopener">UGA Football</a>
              .
              We are Georgia sports fans through and through.
              This site will keep you informed and pumped up for all things UGA.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 friend-item">
        <div class="d-flex">
          <div class="img-container">
            <img src="/assets/images/friends/pagetopper.gif" alt="Fantasy Hockey Journal">
          </div>
          <div class="align-self-center">
            <p class="site-pages-content">
              <a href="http://www.fantasyhockeyjournal.com/" target="_blank" rel="noopener">
                Fantasy Hockey Journal
              </a>
              is a one stop shop for your hockey pool.
              The site offers helpful info and links to all the info you need to be successful.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 friend-item">
        <div class="d-flex">
          <div class="img-container">
            <img src="/assets/images/friends/hockey-draft.gif" alt="Hockey Draft">
          </div>
          <div class="align-self-center">
            <p class="site-pages-content">
              Hockey Draft is the premier
              <a href="http://hockeydraft.ca/" target="_blank" rel="noopener">
                hockey pool
              </a>
              website with all the data and
              <a href="http://hockeydraft.ca/" target="_blank" rel="noopener">
                fantasy hockey
              </a>
              tools you need to have the best draft experience.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 friend-item">
        <div class="d-flex">
          <div class="img-container">
            <img src="/assets/images/friends/49ersparadise-logo.jpg" alt="49ers Paradise">
          </div>
          <div class="align-self-center">
            <p class="site-pages-content">
              <a href="http://49ersparadise.com/" target="_blank" rel="noopener">
                49ers Paradise
              </a>
              is one the top San Francisco 49ers communities online.
              With a Forum and round the clock 49ers news, 49er fans will find something for them.
            </p>
          </div>
        </div>
      </div>

      <!--<div class="col-12 friend-item">-->
        <!--<div class="d-flex">-->
          <!--<div class="img-container">-->
            <!--<img src="/assets/images/friends/junkyard-jake-logo.gif" alt="">-->
          <!--</div>-->
          <!--<div class="align-self-center">-->
            <!--<p class="site-pages-content">-->
              <!--<a href="http://www.junkyardjake.com/" target="_blank" rel="noopener nofollow">-->
                <!--Junkyard Jake-->
              <!--</a>-->
              <!--has been a staple in the lives of Fantasy Football players for about 20 years.-->
              <!--You can find Rankings, Target Report, Team News, Strength of Schedule and tons of other helpful stats when drafting your team.-->
            <!--</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->


      <div class="col-12 friend-item">
        <div class="d-flex">
          <div class="img-container">
            <a href="http://www.sportspl.com/" class="link-black" target="_blank" rel="noopener">
              <img src="/assets/images/friends/spl.gif" alt="Sports Picks League">
            </a>
          </div>
          <div class="align-self-center">
            <p class="site-pages-content">
              What could be better than contests in your favorite college and football sports?  Free contests, that's what. That's exactly what Sports Picks League offers.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 friend-item">
        <div class="d-flex">
          <div class="img-container">
            <img src="/assets/images/friends/sandlot-shrink.jpg" alt="Sandlot Shrink">
          </div>
          <div class="align-self-center">
            <p class="site-pages-content">
              <a href="http://www.sandlotshrink.com/" target="_blank" rel="noopener">
                Sandlot Shrink
              </a>
              has long been one of the most valuable fantasy advice services available. Sandlot Shrink has a group of respected sports writers with unique access to direct information from players, coaches and teams. Check them out and you may just benefit from their "insider inflammation".
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 friend-item">
        <div class="d-flex">
          <div class="img-container">
            <img src="/assets/images/friends/baseball-guru.jpg" alt="Baseball Guru">
          </div>
          <div class="align-self-center">
            <p class="site-pages-content">
              <a href="http://baseballguru.com/" target="_blank" rel="noopener">
                Baseball Guru
              </a>
              has been a staple fantasy baseball resources for a number of years.
              Guru provides a free baseball game, baseball player projections and links to every baseball resource you will ever need.
              Guru provides a popular data archive, stat analysis and fantasy insider.
              Always willing to take on questions, so just Ask the Guru!
            </p>
          </div>
        </div>
      </div>

      <div  class="col-12 friend-item">
        <div class="d-flex">
          <div class="img-container">
            <img src="/assets/images/friends/dfc.jpg" alt="Daily Fantasy Cafe">
          </div>
          <div class="align-self-center">
            <p class="site-pages-content">
              <a *appBrowserIf="true" href="https://www.dailyfantasycafe.com/" target="_blank" rel="noopener">
                Daily Fantasy Cafe
              </a>
              <span *appServerIf="true">
                Daily Fantasy Cafe
              </span>
              is known for it's fantasy tools and content.
              Cafe has covered the top daily fantasy websites with in depth text reviews, image and video coverage.
              Most notably, DFC has some of the most lucrative promo code offers for the top Daily Fantasy websites such as FanDuel,
              DraftKings & Fantasy Draft. Find the Daily Fantasy Cafe Sign Up Bonus for Draftkings and Free $20 promo offer for FanDuel.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 friend-item">
        <div class="d-flex">
          <div class="img-container">
            <img src="/assets/images/friends/depthcharts.png" alt="DepthCharts">
          </div>
          <div class="align-self-center">
            <p class="site-pages-content">
              <a href="https://www.depthcharts.com" target="_blank" rel="noopener">
                DepthCharts.com
              </a> is the latest creation of Sam Shefrin and partner of Lineups.com.
              DepthCharts.com keeps it simple with depth charts for the major sports of NBA, NFL, MLB.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 friend-item">
        <div class="d-flex">
          <div class="img-container">
            <img src="/assets/images/friends/logo-sleeper-u-1.png" alt="Sleeper U">
          </div>
          <div class="align-self-center">
            <p class="site-pages-content">
              <a href="https://sleeperu.com/" target="_blank" rel="noopener">
                Sleeper U
              </a>
              has been one of the most consistent fantasy football services over the years.
              Previously Fantasy Football Starters, Smitty bring valuable insight and advice in a service well worth the price.
            </p>
          </div>
        </div>
      </div>

      <div *appBrowserIf="true" class="col-12 friend-item">
        <div class="d-flex">
          <div class="img-container">
            <img src="/assets/images/friends/pound4pound-logo.gif" alt="Pound4Pound">
          </div>
          <div class="align-self-center">
            <p class="site-pages-content">
              <a href="http://www.pound4pound.com/" target="_blank" rel="noopener">
                Pound4Pound
              </a> is an online boxing news site with years of history online.
              Check them out for reports, video, images and articles.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 friend-item">
        <div class="d-flex">
          <div class="img-container">
            <img src="/assets/images/friends/sportsoddshistory.jpeg" alt="SportsoddsHistory">
          </div>
          <div class="align-self-center">
            <p class="site-pages-content">
              Visit
              <a href="https://www.sportsoddshistory.com/" target="_blank" rel="noopener">
                SportsoddsHistory.com
              </a>
              for live odds and archived futures lines of the Super Bowl, World Series and much more.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>





