.account-update-subscription {
  padding: 30px;  
}

h2 {
  margin-bottom: 30px;  
}

.liner {
  margin-bottom: 1rem;
  span {
    font-weight: bold;
  }

  &.choice-liner {
    margin-bottom: 1.2rem;

    
  }
}