.swappeble-table {
  .swapper-wrap {
    padding: 0 !important;
    input {
      width: 100%;
      height: 35px;
    }
  }
  .empty-row {
    td {
      padding: 18px;
      cursor: initial;
    }
  }
  ::ng-deep ngui-auto-complete {
    .item {
      text-align: left;
    }
  }
}
