<div class="account-email-settings account-block">
  <h2>Email Settings</h2>
  <div class="panel">
    <form name="email_settings">
      <div class="panel-body">
        <div class="form-check form-field">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input"
              name="enable_offers" />
            Receive Fee &amp; Promotional Offers
          </label>
        </div>
        <div class="form-check form-field">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input"
              name="enable_contents" />
            Receive Content Emails
          </label>
        </div>
      </div>
      <div class="panel-footer">
        <div class="col-6">
          <button type="submit" class="btn btn-lu-blue btn-full-width">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>