<div class="container-fluid individual-matchup">
  <app-breadcrumb (performActionOnClick)="performActionOnBreadcrumbClick($event)"></app-breadcrumb>
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="col-12">
        <app-matchup-heading
          league="nfl"
          mobileView="true"
          [stadium]="matchup.header.details.stadium"
          [awayTeamUrl]="matchup.nav.away_team_depth_chart_route"
          [homeTeamUrl]="matchup.nav.home_team_depth_chart_route"
          [homeTeamName]="matchup.nav.home_name_full"
          [homeTeamDetails]="matchup.nav.home_record + ', ' + matchup.nav.home_rank + ' ' + matchup.nav.home_conference + ' ' + matchup.nav.home_division"
          [homeTeamLogoSrc]="matchup.nav.home_logo_white"
          [awayTeamName]="matchup.nav.away_name_full"
          [awayTeamDetails]="matchup.nav.away_record + ', ' + matchup.nav.away_rank + ' ' + matchup.nav.away_conference + ' ' + matchup.nav.away_division"
          [awayTeamLogoSrc]="matchup.nav.away_logo_white"
          [isBorderedLogos]="false"
          [status]="matchup.nav.status"
          [date]="matchup.nav.matchup_time"
          [homeTeamShort]="matchup.nav.home_abbr"
          [awayTeamShort]="matchup.nav.away_abbr"
          [allowShortNames]="allowShortNames()"
          [updated]="matchup.nav.updated"
          [additionalInfo]="additionalInfo"
          (teamWasClicked)="preselectTeamSeason()"
        ></app-matchup-heading>
      </div>
      <div class="col-12 mobile-tabs-wrapper">
        <!-- Collapse Menu -->
        <div class="in-page-collapse-toggle mb-0">
          <button
            type="button"
            class="collapse-page-nav-btn btn btn-outline-primary mt-4"
            (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            Menu
          </button>
        </div>
        <div class="in-page-nav-menu" [ngbCollapse]="!isCollapsed" [ngClass]="{'hidden': !isCollapsed}">
          <!-- Team Lineup Heading Navigation -->
          <div class="page-heading-navigation mb-1">
            <div class="tab-btn-xl depth-chart-team tab-btn-wrap">
              <a [appPreselectNflDepthChartTeamSeason]="params?.year" [routerLink]="matchup.nav.away_team_depth_chart_route" class="page-heading-nav-btn">{{matchup.nav.away_name_full | lastTeamName}} Depth Chart</a>
            </div>
            <div class="tab-btn-xl depth-chart-team tab-btn-wrap">
              <a [appPreselectNflDepthChartTeamSeason]="params?.year" [routerLink]="matchup.nav.home_team_depth_chart_route" class="page-heading-nav-btn">{{matchup.nav.home_name_full | lastTeamName}} Depth Chart</a>
            </div>
            <div class="tab-btn-xsm tab-btn-wrap depth-chart-opt">
              <a
                [routerLink]="matchup.nav.matchup_route"
                (click)="onTabClick('all', false)"
                [class.active]="!showTabs.schedule && !showTabs.injuries && !showTabs.matchupNews && isActive(matchup.nav.matchup_route)"
                rel="nofollow"
                class="page-heading-nav-btn">Matchups</a>
            </div>
            <!--news commented-->
            <!--<div class="tab-btn-xsm tab-btn-wrap depth-chart-opt">-->
            <!--<span-->
              <!--(click)="onTabClick('matchupNews', true)"-->
              <!--[ngClass]="{'active': showTabs.matchupNews}"-->
              <!--class="page-heading-nav-btn">News</span>-->
            <!--</div>-->
            <div *ngIf="matchup.nav.home_injuries_route" class="tab-btn-xsm tab-btn-wrap depth-chart-opt">
            <span
              (click)="onTabClick('injuries', true)"
              [ngClass]="{'active': showTabs.injuries}"
              class="page-heading-nav-btn">
              Injuries
            </span>
            </div>
            <div class="tab-btn-xsm tab-btn-wrap depth-chart-opt">
            <span
              (click)="onTabClick('schedule', true)"
              [ngClass]="{'active': showTabs.schedule}"
              class="page-heading-nav-btn">
              Schedule
            </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 before-heading-margin-sm zero-lg-height smaller-md-box">
      <app-ad-component [league]="'nfl'"></app-ad-component>
    </div>
  </div>
  <div [hidden]="showTabs.schedule || showTabs.injuries || showTabs.matchupNews">
    <router-outlet></router-outlet>
  </div>
  <div class="py-4" *ngIf="showTabs.schedule">
    <app-schedule-content
      (matchupLinkClicked)="onTabClick('all', false)"
      (weekUpdated)="weekUpdated($event)"
      [params]="scheduleParams"
      [isSchedulePage]="false"
    ></app-schedule-content>
  </div>
  <div *ngIf="showTabs.matchupNews">
    <app-matchup-news [gameId]="matchup.nav.game_key"></app-matchup-news>
  </div>
  <div class="pb-4" *ngIf="showTabs.injuries">
    <h2 class="page-heading-two">{{matchup.nav.home_name_full}} Injuries</h2>
    <app-injuries
      [isMatchupInjuriesPage]="true"
      [isTeamPage]="true"
      [currentLeague]="'nfl'"
      [selectedTeamNames]="[matchup.nav.home_abbr]"
      [itemsPerPage]="1000"
    ></app-injuries>
    <h2 class="page-heading-two">{{matchup.nav.away_name_full}} Injuries</h2>
    <app-injuries
      [isMatchupInjuriesPage]="true"
      [isTeamPage]="true"
      [currentLeague]="'nfl'"
      [selectedTeamNames]="[matchup.nav.away_abbr]"
      [itemsPerPage]="1000"
    ></app-injuries>
  </div>
</div>
