<div class="container-fluid pb-3">
  <app-breadcrumb></app-breadcrumb>
  <div class="row">
    <div class="col-12">
      <h1 class="page-heading">NFL Daily Fantasy (DFS) Projections</h1>
    </div>
    <div class="col-12">
      <p>
        If you want to get the most out of our proprietary fantasy football projections, then you need to use them differently for your daily and season-long leagues. Since you have a relatively set roster in a season-long league, you are only concerned with the projections of a small amount of players. All you have to do is look at your roster and start the players that are projected to score the most points. You may also want to look at a few of the top players on the waiver wire to make sure they are not projected for a better game than someone on your roster.
      </p>
      <p>
        The process is a lot more intricate for daily fantasy football leagues. Since you have a finite amount of money to spend on your roster every week, it is all about getting the most value with your lineup. The salary of every player must be considered with their fantasy points to determine the best value plays. A tight end projected to score 15 points with a $5,000 salary is not going to be a better option than a player at the same position projected to score 14 points with only a $3,000 salary. Getting the most out of your limited salary pool is the only way to win a daily fantasy football league. To make things easier, we list the DraftKings and FanDuel salaries of every player right next to their projected point total.
      </p>
      <p>
        While it is going to be easy to find great value for your daily fantasy league using our projections, you do not want to create a lineup filled with all value plays. The goal is still to score more fantasy points than your opponents. The only way to do this is by spending all of your allotted salary cap. The expensive players may not provide the same value as the cheaper players, but they will also likely score more points. Balancing your roster is the only way to create a high scoring daily fantasy lineup.
      </p>
      <h2 class="page-heading-two">Consistency & Ceiling</h2>
      <p>
        The final consideration when using our NFL fantasy projections is the consistency of the players. Two wide receivers can be projected to score the same amount of points despite being completely different players. Deep-threat receivers have high ceilings because they can catch a long touchdown at any time, but they also tend to struggle with consistency. Possession receivers are extremely consistent players because they catch a lot of passes. They also tend to have lower ceilings because they do not score a lot of touchdowns.
      </p>
      <p>
        The exact way to value consistency will ultimately be determined based on the fantasy football game you are playing. High-ceiling players are more valuable when playing in big daily fantasy tournaments because they give you a chance to win the top prize. You may also want to stick a few high-ceiling players in your season-long lineup if you are projected to be a big underdog. It is best to stick to high-floor players in 50-50 daily leagues because you only have to beat half of your opponents to win money. These consistent players are also great when you are a big favorite in your season-long league.
      </p>
    </div>
  </div>
</div>
