<!--Faq-->
<div class="container-fluid site-pages-wrapper-container">
  <!-- Breadcrumbs -->
  <app-breadcrumb></app-breadcrumb>
  <div class="site-pages-wrapper">
    <h1 class="site-pages-title">FAQ</h1>

    <div class="faq-wrapper">
      <h1>Betting Predictor</h1>
      <div class="faq-wrapper-item">
        <h2>What is the Bet Predictor?</h2>
        <p>
          The Bet Predictor is our pre-game betting system that utilizes machine learning prediction models to predict player,
          team and game statistics. <a target="_blank" [routerLink]="['/nfl/betting-system']">Click here to see the NFL Betting System</a>
          for demo videos and you can try it for free.
        </p>
      </div>
      <div class="faq-wrapper-item">
        <h2>What is the In Game Bet Predictor?</h2>
        <p>The In Game Bet Predictor is our live in-game betting system that enhances the viewing of a live game while providing real-time odds and betting predictions for live betting. </p>
      </div>
      <div class="faq-wrapper-item">
        <h2>What Sportsbooks do you offer real-time pregame & Live odds and Bet Predictions for?</h2>
        <p>We currently offer odds for the major Vegas Books and some offshore books. Make sure to check the legality of depositing and withdrawing in your location before playing on any online site.  Odds are provided purely for information purposes. It is your responsibility to check the latest odds before betting. Odds change frequently.</p>
      </div>
      <div class="faq-wrapper-item">
        <h2>Is Lineups.com an Affiliate to any of the books?</h2>
        <p>As of 8/13/18, we are not an affiliate. We are currently in the process of applying for affiliate programs on a CPA (Cost Per Acquisition) basis, which means we would be paid a one-time fee on each referral from <a href="https://www.lineups.com" target="_blank" rel="noopener">lineups.com</a> to a particular online site. We will never accept a revenue share payment method for a sports betting site affiliate program as this would create a conflict of interest with our subscription tools. We truly want to help people win more often and no website selling tools, should be paid when affiliate referrals are losing money.  Once we are accepted into the affiliate programs, we will post full disclaimers and compliance terminology. We will link to these pages and terminology clearly from every page.</p>
      </div>
      <div class="faq-wrapper-item">
        <h2>What are Prediction Models?</h2>
        <p>
          Each model has a different way of predicting an outcome. We have explained the models in detail for every sport on this page –
          <a target="_blank" [routerLink]="['/prediction-models-explained']">Prediction Models Explained</a>.
        </p>
      </div>
      <div class="faq-wrapper-item">
        <h2>What does the Probability % mean?</h2>
        <p>Probability % is the first betting metric to review. This is the probability that the outcome listed will occur based on the prediction model selected. IE – 80% Probability that the Atlanta </p>
        <p>Falcons will beat the New England Patriots in the Super Bowl. It is solely the probability percentage that the outcome will occur and does not take into account odds or EV.</p>
      </div>
      <div class="faq-wrapper-item">
        <h2>What is EV?</h2>
        <p>EV stands for Expected Value and is the second betting metric you want to look at. If you find a bet with a high probability % of happening, you next want to know what EV is, which tells you </p>
        <p>the value you can expect if you place this bet. EV is calculated using the following formula:</p>
      </div>
      <div class="faq-wrapper-item">
        <h2>What do the dollar signs stand for?</h2>
        <p>The dollar signs are the 3rd betting metric to look at. The dollar signs are a quick way to identify</p>
      </div>
      <div class="faq-wrapper-item">
        <h2>What does DIFF stand for?</h2>
        <p>Diff stands for Difference between the sportsbook odds and Lineups.com Fair Odds prediction.</p>
      </div>
      <div class="faq-wrapper-item">
        <h2>In the Input Panel, what does it mean when it says Top 36% and Bottom 2% on the slider?</h2>
        <p>
          These numbers represent the players performance for the simulations in which they performed.
          IE - if you select Good for Top 36% for Matt Ryan,
          you are telling the Betting System that you want to isolate the Top 36% of his performances in the simulations.
          When you isolate and save this performance, the rest of the players,
          teams and games will be updated as well based on Matt Ryan performing as he did in the Top 36% of his game simulations.
        </p>
      </div>
      <div class="faq-wrapper-item">
        <h2>How do you calculate the Lineups.com Fair Odds prediction?</h2>
        <p>
          Fair odds predictions are based on 10,000 simulations of the game.
          Moneyline corresponds to win probability, so if a team won 60% of our simulations, Lineups.com prediction is - 150.
          Spreads and Totals are simulation averages.
        </p>
      </div>
    </div>

    <div class="faq-wrapper">
      <h1>Fantasy Tools</h1>
      <div class="faq-wrapper-item">
        <h2>What time are DFS projections updated?</h2>
        <p>Projections update real-time based on news, injuries and data.</p>
      </div>
      <!--<div class="faq-wrapper-item">-->
        <!--<h2>What is FantasyLive?</h2>-->
        <!--<p>There will be text here.</p>-->
      <!--</div>-->
    </div>

    <!--<div class="faq-wrapper">-->
      <!--<h1>General</h1>-->
      <!--<div class="faq-wrapper-item">-->
        <!--<h2>What is the Game Predictor?</h2>-->
        <!--<p>There will be text here.</p>-->
      <!--</div>-->
      <!--<div class="faq-wrapper-item">-->
        <!--<h2>What is the Game Simulator?</h2>-->
        <!--<p>There will be text here.</p>-->
      <!--</div>-->
      <!--<div class="faq-wrapper-item">-->
        <!--<h2>What are your Free Services?</h2>-->
        <!--<p>There will be text here.</p>-->
      <!--</div>-->
      <!--<div class="faq-wrapper-item">-->
        <!--<h2>Do you offer Free Odds?</h2>-->
        <!--<p>There will be text here.</p>-->
      <!--</div>-->
    <!--</div>-->
    <div class="faq-wrapper">
      <h1>Billing  </h1>
      <div class="faq-wrapper-item">
        <h2>Do you offer a free trial?</h2>
        <p>No, but we do have a Rewind Bet Predictor that allows you to use and see the tool functionality with defunct data. We also offer a 3 day trial of our membership plans and have a number of </p>
        <p>demo videos to give you all the insight needed to determine whether you would like to subscribe.</p>
      </div>
      <div class="faq-wrapper-item">
        <h2>Do I have to enter my credit card information to create an account?</h2>
        <p>No, you do not. Some pages on <a href="https://www.lineups.com" target="_blank" rel="noopener">lineups.com</a> require signing up for an account to view. The only information needed to sign up is your First Name and Email Address. You will need to confirm
          your email address.</p>
      </div>
      <div class="faq-wrapper-item">
        <h2>Can I pay for a MembershipPlan without a credit card?</h2>
        <p>No, we only accept Visa, Mastercard and American Express credit cards.</p>
      </div>
      <div class="faq-wrapper-item">
        <h2>How do I cancel my subscription?</h2>
        <p>Login, go to your Account and click the Cancel Subscription button that you’d like to Cancel.</p>
      </div>
      <div class="faq-wrapper-item">
        <h2>What is your Refund policy?</h2>
        <p>We do not offer refunds. We offer a digital product and can’t take back your use of the product. All sales are final. We send out multiple reminder emails prior to a renewal date. It is your responsibility to cancel any memberships prior to the renewal and billing date.</p>
      </div>
    </div>
  </div>
</div>
