.status {
  font-size: 16px;
  white-space: nowrap;
  &.confirmed {
    color: #2bb673;
    &:before {
      font-family: 'FontAwesome';
      content: "\F058";
    }
  }
  &.rejected {
    color: #e14747;
    &:before {
      font-family: 'FontAwesome';
      content: "\F057";
    }
  }
  &.alt-view {
    &.confirmed {
      color: #2bb673;
      &:after {
        font-family: 'FontAwesome';
        content: "\F058";
      }
      &:before {
        display: none;
      }
    }
    &.rejected {
      color: #e14747;
      &:after {
        font-family: 'FontAwesome';
        content: "\F057";
      }
      &:before {
        display: none;
      }
    }
  }
  .short-status-name {
    display: none;
  }
  .status-name {
    display: inline;
  }

  &.short-name-only {
    font-size: inherit;
    .short-status-name {
      display: inline;
    }
    .status-name {
      display: none;
    }
  }

  &.short-name-allowed {
    @media (max-width: 368px) {
      .short-status-name {
        display: inline;
      }
      .status-name {
        display: none;
      }
    }
  }

}
