<div class="row mt-2 mlb-in-game-predictor">
  <div class="col-12">
    <div class="top-section d-flex justify-content-between">
      <div>
        <app-team-score-game></app-team-score-game>
      </div>
      <div>
        <app-at-bat-prediction></app-at-bat-prediction>
      </div>
      <div>
        <app-next-play
          [pass]="55"
          [rush]="45"
          [actual]="'Matt Ryan passes 10 yards down middle to Julio Jones.'"
          [model]="'Matt Ryan passes 10 yards down middle to Julio Jones.'"
        ></app-next-play>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 offset-0 col-sm-8 offset-sm-2 offset-xl-0 col-xl-3">
        <table class="multi-row-data-table t-stripped">
          <thead>
          <tr class="t-sub-header">
            <th class="text-center" width="70%">At Bat Prediction</th>
            <th class="text-center">Probability</th>
          </tr>
          </thead>
          <tbody>
          <tr class="t-content">
            <td>M. Ryan passes to J. Jones</td>
            <td>50%</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 col-xl-9">
        <app-win-probability-chart finalScore="true"></app-win-probability-chart>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <h6 class="section-header">Score Predictions</h6>
      </div>
      <div class="col-12">
        <div class="multi-row-data-table-wrapper">
          <table class="multi-row-data-table t-stripped">
            <thead>
              <tr class="t-sub-header">
                <th class="text-center">Teams</th>
                <th class="text-center">1</th>
                <th class="text-center">2</th>
                <th class="text-center">3</th>
                <th class="text-center">4</th>
                <th class="text-center">5</th>
                <th class="text-center">6</th>
                <th class="text-center">7</th>
                <th class="text-center">8</th>
                <th class="text-center">9</th>
              </tr>
            </thead>
            <tbody>
              <tr class="t-content">
                <td>
                  <img class="table-logo" src="/assets/images/nfl/logos/white/atlanta-falcons-white.svg" alt="">
                  ATL
                </td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
              </tr>
              <tr class="t-content">
                <td>
                  <img class="table-logo" src="/assets/images/nfl/logos/white/new-england-patriots-white.svg" alt="">
                  NE
                </td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr class="t-content">
                <td>
                </td>
                <td>87% Prob</td>
                <td>87% Prob</td>
                <td>87% Prob</td>
                <td>87% Prob</td>
                <td>87% Prob</td>
                <td>87% Prob</td>
                <td>87% Prob</td>
                <td>87% Prob</td>
                <td>87% Prob</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-12 col-md-6">
        <h6 class="section-header">Runs Scored in Half Inning</h6>
        <div class="multi-row-data-table-wrapper">
          <table class="multi-row-data-table t-stripped">
            <thead>
            <tr class="t-sub-header">
              <th class="text-center">0</th>
              <th class="text-center">1</th>
              <th class="text-center">2</th>
              <th class="text-center">3+</th>
            </tr>
            </thead>
            <tbody>
            <tr class="t-content">
              <td>5%</td>
              <td>5%</td>
              <td>5%</td>
              <td>5%</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h6 class="section-header">Walk Predictions</h6>
        <div class="multi-row-data-table-wrapper">
          <table class="multi-row-data-table t-stripped">
            <thead>
            <tr class="t-sub-header">
              <th class="text-center">Teams</th>
              <th class="text-center">Actual</th>
              <th class="text-center">Model</th>
              <th class="text-center">Difference</th>
            </tr>
            </thead>
            <tbody>
              <tr class="t-content">
                <td>
                  <img appSpriteImg="mlb" class="table-logo" src="assets/images/mlb/logos/white/atlanta-braves-white.svg" alt="">
                  ATL
                </td>
                <td>3 Walks</td>
                <td>3 Walks</td>
                <td>-2</td>
              </tr>
              <tr class="t-content">
                <td>
                  <img appSpriteImg="mlb" class="table-logo" src="assets/images/mlb/logos/white/los-angeles-dodgers-white.svg" alt="">
                  LAD
                </td>
                <td>3 Walks</td>
                <td>3 Walks</td>
                <td>-2</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-12 col-md-6">
        <h6 class="section-header">Multi- Hit Predictions</h6>
        <div class="multi-row-data-table-wrapper">
          <table class="multi-row-data-table t-stripped">
            <thead>
            <tr class="t-sub-header">
              <th class="text-center">Teams</th>
              <th class="text-center">Actual</th>
              <th class="text-center">Model</th>
              <th class="text-center">Difference</th>
            </tr>
            </thead>
            <tbody>
              <tr class="t-content">
                <td>
                  <img appSpriteImg="mlb" class="table-logo" src="assets/images/mlb/logos/white/atlanta-braves-white.svg" alt="">
                  ATL
                </td>
                <td>3 Hits</td>
                <td>3 Hits</td>
                <td>-2</td>
              </tr>
              <tr class="t-content">
                <td>
                  <img appSpriteImg="mlb" class="table-logo" src="assets/images/mlb/logos/white/los-angeles-dodgers-white.svg" alt="">
                  LAD
                </td>
                <td>3 Hits</td>
                <td>3 Hits</td>
                <td>-2</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h6 class="section-header">Strikeout Predictions</h6>
        <div class="multi-row-data-table-wrapper">
          <table class="multi-row-data-table t-stripped">
            <thead>
            <tr class="t-sub-header">
              <th class="text-center">Teams</th>
              <th class="text-center">Actual</th>
              <th class="text-center">Model</th>
              <th class="text-center">Difference</th>
            </tr>
            </thead>
            <tbody>
              <tr class="t-content">
                <td>
                  <img appSpriteImg="mlb" class="table-logo" src="assets/images/mlb/logos/white/atlanta-braves-white.svg" alt="">
                  ATL
                </td>
                <td>3 SO</td>
                <td>3 SO</td>
                <td>-2</td>
              </tr>
              <tr class="t-content">
                <td>
                  <img appSpriteImg="mlb" class="table-logo" src="assets/images/mlb/logos/white/los-angeles-dodgers-white.svg" alt="">
                  LAD
                </td>
                <td>3 SO</td>
                <td>3 SO</td>
                <td>-2</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-12 col-md-6">
        <h6 class="section-header">Home Run Predictions</h6>
        <div class="multi-row-data-table-wrapper">
          <table class="multi-row-data-table t-stripped">
            <thead>
            <tr class="t-sub-header">
              <th class="text-center">Teams</th>
              <th class="text-center">Actual</th>
              <th class="text-center">Model</th>
              <th class="text-center">Difference</th>
            </tr>
            </thead>
            <tbody>
              <tr class="t-content">
                <td>
                  <img appSpriteImg="mlb" class="table-logo" src="assets/images/mlb/logos/white/atlanta-braves-white.svg" alt="">
                  ATL
                </td>
                <td>3 HR</td>
                <td>3 HR</td>
                <td>-2</td>
              </tr>
              <tr class="t-content">
                <td>
                  <img appSpriteImg="mlb" class="table-logo" src="assets/images/mlb/logos/white/los-angeles-dodgers-white.svg" alt="">
                  LAD
                </td>
                <td>3 HR</td>
                <td>3 HR</td>
                <td>-2</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h6 class="section-header">Hit Predictions</h6>
        <div class="multi-row-data-table-wrapper">
          <table class="multi-row-data-table t-stripped">
            <thead>
            <tr class="t-sub-header">
              <th class="text-center">Teams</th>
              <th class="text-center">Actual</th>
              <th class="text-center">Model</th>
              <th class="text-center">Difference</th>
            </tr>
            </thead>
            <tbody>
              <tr class="t-content">
                <td>
                  <img class="table-logo" src="assets/images/mlb/logos/white/atlanta-braves-white.svg" alt="">
                  ATL
                </td>
                <td>3 Hits</td>
                <td>3 Hits</td>
                <td>-2</td>
              </tr>
              <tr class="t-content">
                <td>
                  <img class="table-logo" src="assets/images/mlb/logos/white/los-angeles-dodgers-white.svg" alt="">
                  LAD
                </td>
                <td>3 Hits</td>
                <td>3 Hits</td>
                <td>-2</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
