@mixin grid-gutter($size) {
  margin-right: -($size/2) + px;
  margin-left: -($size/2) + px;

  & > [class^="col-"], & > [class^=" col-"] {
    padding-right: ($size/2) + px;
    padding-left: ($size/2) + px;
  }
}

.gutter-30 {
  @include grid-gutter(30);
}

.gutter-20 {
  @include grid-gutter(20);
}

.gutter-10 {
  @include grid-gutter(10);
}