.sprite-white-mlb-oakland-athletics-white {
  transform: scale(1.05);
}

.sprite-white-mlb-chicago-cubs-white,
.sprite-white-mlb-minnesota-twins-white,
.sprite-white-mlb-philadelphia-phillies-white {
  transform: scale(1.1);
}

.sprite-white-mlb-tampa-bay-rays-white,
.sprite-white-mlb-miami-marlins-white {
  transform: scale(1.15);
}

.sprite-white-mlb-cincinnati-reds-white,
.sprite-white-mlb-seattle-mariners-white,
.sprite-white-mlb-arizona-diamondbacks-white {
  transform: scale(1.2);
}

.sprite-white-mlb-atlanta-braves-white {
  transform: scale(1.4);
}

.sprite-white-mlb-colorado-rockies-white {
  transform: scale(1.3);
}

.sprite-white-mlb-texas-rangers-white,
.sprite-white-mlb-kansas-city-royals-white,
.sprite-white-mlb-cleveland-indians-white {
  transform: scale(0.95);
}

.sprite-white-mlb-new-york-yankees-white {
  transform: scale(0.92);
}


