.sprite-white-nfl-indianapolis-colts-white {
  transform: scale(0.9);
}
.sprite-white-nfl-seattle-seahawks-white,
.sprite-white-nfl-baltimore-ravens-white,
.sprite-white-nfl-new-england-patriots-white,
.sprite-white-nfl-minnesota-vikings-white {
  transform: scale(1.3);
}
.sprite-white-nfl-miami-dolphins-white {
  transform: scale(1.2);
}
