<div class="mkf-wrapper">
  <div class="mkf-content-wrapper">
    <div class="mkf-title">
      $50 Free Play on Monkey Knife Fight
    </div>
    <ul class="mkf-points">
      <li><span class="green">1</span> Sign up <span class="hidden-xs-down">on <a [routerLink]="[urlToGo]" rel="nofollow noopener" target="_blank" class="link-black-underline">monkeyknifefight.com</a></span></li>
      <li><span class="green">2</span> Pick two players <span class="hidden-xs-down">correctly</span></li>
      <li><span class="green">3</span> Win <span class="hidden-sm-up">cash</span>  <span class="hidden-xs-down">2.5x your money</span></li>
    </ul>
    <a [routerLink]="[urlToGo]" style="color: white" rel="nofollow noopener" target="_blank" class="btn claim-btn">
      <span>Claim Free $50 Play</span> <i class="fa fa-caret-right" aria-hidden="true"></i>
    </a>
  </div>
</div>
