<div class="container-fluid site-pages-wrapper-container">
  <div class="row">
    <div class="col-12">
      <app-breadcrumb></app-breadcrumb>
    </div>
  </div>
  <div class="site-pages-wrapper">
    <div class="row">
      <div class="col-12">
        <h1 class="site-pages-title">Data License Terms & Conditions</h1>
        <h2 class="page-heading-two">Personal Use Only</h2>
        <p class="site-pages-content">
          Data provided on Lineups.com is free for personal use. Personal use is defined as non-published, non-commercial use. You cannot use the data to sell any product or service. If you use a subset or data in calculations in an article on the web, please add a hyperlink back to the page of the data source on lineups.com.
        </p>
        <h2 class="page-heading-two">CSV Downloads</h2>
        <p class="site-pages-content">
          On many of our statistical pages, we provide Show CSV buttons that convert the data tables into easy to consume CSV files. This data is also for personal use only.  Do not scrape our website, please copy and paste the CSV data.
        </p>
        <div>
          <img src="/assets/images/ShowCSV.jpg" style="width: 100%;max-width: 1892px;" alt="ShowCSV">
        </div>
        <h2 class="page-heading-two">Commercial APIs</h2>
        <p class="site-pages-content">
          If you are interested in commercial APIs to use our data in a product or service to sell, we can help.  We work with small, medium and large size businesses to provide real-time data in json format.  Please contact us for pricing information -
          <a [routerLink]="['/contact']">https://www.lineups.com/contact</a>.
        </p>
      </div>
    </div>
  </div>
</div>





