:host {
  color: #fff;
  display: flex;
  align-items: center;
  @media(max-width: 600px) {
    font-size: 8px;
    align-items: stretch;
  }

  > span {
    padding: 5px 10px;
    background: #5b5a5a;
    white-space: nowrap;
    @media(max-width: 600px) {
      padding: 5px;
      flex: 1;
    }
  }
}

span.score {
  background: #191919;
  min-width: 20px;
  text-align: center;
  display: inline-block;
}

span.info {
  min-width: 70px;
  text-align: center;
}

span:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

span:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: solid 1px #929292;
}

.possession {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  display: inline-block;
  margin-bottom: .2em;
  @media(max-width: 600px) {
    margin-bottom: .1em;
  }
}
