:host {
  .game-date {
    font-size: 0.6875rem;
  }
  .check-mark {
    display: inline-block;
    text-align: center;
    img {
      width: 14px;
    }
    &.red {
      img {
        width: 12px;
      }
    }
  }
  .live-icon {
    display: inline-block;
    position: relative;
    width: 35px;
    & > img {
      width: 60px;
      position: absolute;
      left: -15px;
      top: -15px;
    }
  }
}
