<div class="container-fluid site-pages-wrapper-container">
  <div class="site-pages-wrapper pb-5">
    <div class="row">
      <div class="col-12">
        <h1 class="site-pages-title mt-5">404 - Page Not Found</h1>
        <p class="site-pages-content">
          Oops, something is not right. Please check the url or <a [routerLink]="['/']">click here</a> to go to the home page.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-12 mt-2">
                <h5 class="mb-3 text-center text-md-left"><strong>Common Links</strong></h5>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                <div class="row">
                  <div class="col-12 text-center text-md-left mb-4">
                    <a class="link-black-underline" [routerLink]="['/']">Home Page</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/nfl']">NFL Main Page</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/nfl/matchups']">Matchups</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/nfl/depth-charts']">Depth Charts</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/nfl/player-injuries']">Injuries</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/nfl/schedule']">Schedule</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/nfl/nfl-targets']">Targets</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/nfl/snap-counts']">Snap Counts</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/nfl/teams']">Teams</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/nfl/players']">Players</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/nfl/rosters']">Roster</a>
                  </div>
                  <!--news commented-->
                  <!--<div class="col-12 text-center text-md-left">-->
                    <!--<a class="link-black-underline" [routerLink]="['/nfl/news']">News</a>-->
                  <!--</div>-->
                </div>
              </div>
              <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                <div class="row">
                  <div class="col-12 invisible">
                    <div>Home Page</div>
                  </div>
                  <div class="col-12 text-center mt-md-4 text-md-left">
                    <a class="link-black-underline" [routerLink]="['/mlb']">MLB Main Page</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/mlb/lineups']">Lineups</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/mlb/matchups']">Matchups</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/mlb/teams']">Teams</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/mlb/players']">Players</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/mlb/player-stats']">Player Stats</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/mlb/rosters']">Roster</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/mlb/player-injuries']">Injuries</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/mlb/schedule']">Schedule</a>
                  </div>
                  <!--news commented-->
                  <!--<div class="col-12 text-center text-md-left">-->
                    <!--<a class="link-black-underline" [routerLink]="['/mlb/news']">News</a>-->
                  <!--</div>-->
                </div>
              </div>
              <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                <div class="row">
                  <div class="col-12 invisible">
                    <div>Home Page</div>
                  </div>
                  <div class="col-12 mt-md-4 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/nba']">NBA Main Page</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/nba/matchups']">Matchups</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/nba/lineups']">Lineups</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/nba/rosters']">Roster</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/nba/schedule']">Schedule</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/nba/teams']">Teams</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/nba/players']">Players</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/nba/player-injuries']">Injuries</a>
                  </div>
                  <!--news commented-->
                  <!--<div class="col-12 text-center text-md-left">-->
                    <!--<a class="link-black-underline" [routerLink]="['/nba/news']">News</a>-->
                  <!--</div>-->
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/nba/nba-player-minutes-per-game']">Minutes</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/nba/player-stats']">Player Stats</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/nba/nba-fantasy-basketball-projections']">Fantasy Projections</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                <div class="row">
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/contact']">Contact</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/faq']">FAQ</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/pricing']">Pricing</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" href="https://www.lineups.com/articles/">Articles</a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                <div class="row">
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/nfl/betting-system']">NFL Bet Predictor</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/mlb/betting-system']">MLB Bet Predictor</a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                <div class="row">
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/nfl/prediction-model-accuracy']">NFL Model Accuracy</a>
                  </div>
                  <div class="col-12 text-center text-md-left">
                    <a class="link-black-underline" [routerLink]="['/mlb/prediction-model-accuracy']">MLB Model Accuracy</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
