:host {
  .view-option-container {
    cursor: pointer;
    img {
      width: 23px;
      opacity: 0.4;
    }
    &.active img {
      opacity: 1;
    }
  }
  .grouped-dropdown-btn {
    height: 100%;
  }
  @media (max-width: 856px) {
    .grouped-dropdown-wrapper {
      display: inline-block;
      width: 100%;
      .grouped-dropdown button {
        width: 100%;
      }
    }
  }
  @media (max-width: 1200px) {
    .multi-row-data-table-wrapper {
      overflow-x: auto;
      table {
        min-width: 1200px;
      }
    }
  }
  .games-tab {
    .game-container {
      cursor: pointer;
      position: relative;
      top: 2px;
      min-width: 175px;
      padding: 4px 24px 4px 8px;
      border-bottom: 2px solid transparent;
      &.active {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom: 2px solid #01afed;
        background-color: #ebebec;
        color: #333333;
        .icon-x {
          display: block;
        }
      }
      color: #656565;
      .icon-x {
        font-size: 12px;
        font-style: normal;
        cursor: pointer;
        position: absolute;
        top: 2px;
        right: 4px;
        display: none;
        color: #8c8c9e;
      }
      .top-info {
        font-size: 16px;
        font-weight: bold;
      }
      .bottom-info {
        font-size: 12px;
      }
    }
    border-bottom: 2px solid #ebebec;
  }
  .probability-cell {
    &.good {
      $green: #2bb673;
      background-color: $green;
      border-color: $green;
      color: #FFF;
    }
    &.poor {
      $red: #be1e2d;
      background-color: $red;
      border-color: $red;
      color: #FFF;
    }
  }
  .save-icon-container {
    cursor: pointer;
    &.saved {
      opacity: 0.5;
    }
  }
  .t-content .public-money {
    font-size: 8px;
  }
}
