<div class="row">
  <div class="col-12 col-xl-9 mt-2">
    <app-win-probability-chart></app-win-probability-chart>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12">
    <h6 class="section-header">Score Predictions</h6>
  </div>
  <div class="col-12">
    <div class="multi-row-data-table-wrapper">
      <app-score-prediction-table></app-score-prediction-table>
    </div>
  </div>
</div>
<div class="row mt-1">
  <div class="col-12">
    <h6 class="section-header">Play Predictions</h6>
  </div>
  <div class="col-12">
    <div class="multi-row-data-table-wrapper">
      <table class="multi-row-data-table t-stripped">
        <thead>
        <tr class="t-sub-header">
          <th class="text-center">Teams</th>
          <th class="text-center">Pass Att</th>
          <th class="text-center">Pass Yds</th>
          <th class="text-center">Rush Att</th>
          <th class="text-center">Rush Yds</th>
        </tr>
        </thead>
        <tbody>
        <tr class="t-content">
          <td>
            <img class="table-logo" src="/assets/images/nfl/logos/white/atlanta-falcons-white.svg" alt="">
            ATL
          </td>
          <td>15</td>
          <td>160</td>
          <td>30</td>
          <td>135</td>
        </tr>
        <tr class="t-content">
          <td>
            <img class="table-logo" src="/assets/images/nfl/logos/white/new-england-patriots-white.svg" alt="">
            NE
          </td>
          <td>15</td>
          <td>160</td>
          <td>20</td>
          <td>125</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row mt-1">
  <div class="col-12 col-md-6">
    <div class="row">
      <div class="col-12">
        <h6 class="section-header">
          <img class="table-logo" src="/assets/images/nfl/logos/white/atlanta-falcons-white.svg" alt="">
          Atlanta Falcons
        </h6>
      </div>
      <div class="col-12">
        <div class="multi-row-data-table-wrapper">
          <table class="multi-row-data-table t-stripped">
            <thead>
              <tr class="t-sub-header">
                <th class="text-left padded" width="30%">Passing</th>
                <th class="text-center">Att</th>
                <th class="text-center">Comp</th>
                <th class="text-center">Yds</th>
                <th class="text-center">TD</th>
                <th class="text-center">INT</th>
                <th class="text-center">Sacks</th>
              </tr>
            </thead>
            <tbody>
              <tr class="t-content">
                <td class="text-left padded">Tom Brady</td>
                <td>30</td>
                <td>62</td>
                <td>625</td>
                <td>2</td>
                <td>1</td>
                <td>6</td>
              </tr>
              <tr class="t-content">
                <td class="text-left padded">
                  <strong>Total</strong>
                </td>
                <td>
                  <strong>30</strong>
                </td>
                <td>
                  <strong>62</strong>
                </td>
                <td>
                  <strong>625</strong>
                </td>
                <td>
                  <strong>2</strong>
                </td>
                <td>
                  <strong>1</strong>
                </td>
                <td>
                  <strong>6</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12">
        <div class="multi-row-data-table-wrapper">
          <table class="multi-row-data-table t-stripped">
            <thead>
              <tr class="t-sub-header">
                <th class="text-left padded" width="30%">Rushing</th>
                <th class="text-center">Att</th>
                <th class="text-center">Yds</th>
                <th class="text-center">TD</th>
                <th class="text-center">Fumb</th>
                <th class="text-center">Long</th>
              </tr>
            </thead>
            <tbody>
              <tr class="t-content">
                <td class="text-left padded">Tom Brady</td>
                <td>30</td>
                <td>62</td>
                <td>2</td>
                <td>1</td>
                <td>6</td>
              </tr>
              <tr class="t-content">
                <td class="text-left padded">
                  <strong>Total</strong>
                </td>
                <td>
                  <strong>30</strong>
                </td>
                <td>
                  <strong>62</strong>
                </td>
                <td>
                  <strong>2</strong>
                </td>
                <td>
                  <strong>1</strong>
                </td>
                <td>
                  <strong>6</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12">
        <div class="multi-row-data-table-wrapper">
          <table class="multi-row-data-table t-stripped">
            <thead>
              <tr class="t-sub-header">
                <th class="text-left padded" width="30%">Receiving</th>
                <th class="text-center">Tgt</th>
                <th class="text-center">Rec</th>
                <th class="text-center">Yds</th>
                <th class="text-center">TD</th>
                <th class="text-center">Fumb</th>
                <th class="text-center">Long</th>
              </tr>
            </thead>
            <tbody>
              <tr class="t-content">
                <td class="text-left padded">Tom Brady</td>
                <td>30</td>
                <td>62</td>
                <td>2</td>
                <td>2</td>
                <td>1</td>
                <td>6</td>
              </tr>
              <tr class="t-content">
                <td class="text-left padded">
                  <strong>Total</strong>
                </td>
                <td>
                  <strong>30</strong>
                </td>
                <td>
                  <strong>62</strong>
                </td>
                <td>
                  <strong>2</strong>
                </td>
                <td>
                  <strong>2</strong>
                </td>
                <td>
                  <strong>1</strong>
                </td>
                <td>
                  <strong>6</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="row">
      <div class="col-12">
        <h6 class="section-header">
          <img class="table-logo" src="/assets/images/nfl/logos/white/new-england-patriots-white.svg" alt="">
          New England Patriots
        </h6>
      </div>
      <div class="col-12">
        <div class="multi-row-data-table-wrapper">
          <table class="multi-row-data-table t-stripped">
            <thead>
            <tr class="t-sub-header">
              <th class="text-left padded" width="30%">Passing</th>
              <th class="text-center">Att</th>
              <th class="text-center">Comp</th>
              <th class="text-center">Yds</th>
              <th class="text-center">TD</th>
              <th class="text-center">INT</th>
              <th class="text-center">Sacks</th>
            </tr>
            </thead>
            <tbody>
            <tr class="t-content">
              <td class="text-left padded">Tom Brady</td>
              <td>30</td>
              <td>62</td>
              <td>625</td>
              <td>2</td>
              <td>1</td>
              <td>6</td>
            </tr>
            <tr class="t-content">
              <td class="text-left padded">
                <strong>Total</strong>
              </td>
              <td>
                <strong>30</strong>
              </td>
              <td>
                <strong>62</strong>
              </td>
              <td>
                <strong>625</strong>
              </td>
              <td>
                <strong>2</strong>
              </td>
              <td>
                <strong>1</strong>
              </td>
              <td>
                <strong>6</strong>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12">
        <div class="multi-row-data-table-wrapper">
          <table class="multi-row-data-table t-stripped">
            <thead>
            <tr class="t-sub-header">
              <th class="text-left padded" width="30%">Rushing</th>
              <th class="text-center">Att</th>
              <th class="text-center">Yds</th>
              <th class="text-center">TD</th>
              <th class="text-center">Fumb</th>
              <th class="text-center">Long</th>
            </tr>
            </thead>
            <tbody>
            <tr class="t-content">
              <td class="text-left padded">Tom Brady</td>
              <td>30</td>
              <td>62</td>
              <td>2</td>
              <td>1</td>
              <td>6</td>
            </tr>
            <tr class="t-content">
              <td class="text-left padded">
                <strong>Total</strong>
              </td>
              <td>
                <strong>30</strong>
              </td>
              <td>
                <strong>62</strong>
              </td>
              <td>
                <strong>2</strong>
              </td>
              <td>
                <strong>1</strong>
              </td>
              <td>
                <strong>6</strong>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12">
        <div class="multi-row-data-table-wrapper">
          <table class="multi-row-data-table t-stripped">
            <thead>
            <tr class="t-sub-header">
              <th class="text-left padded" width="30%">Receiving</th>
              <th class="text-center">Tgt</th>
              <th class="text-center">Rec</th>
              <th class="text-center">Yds</th>
              <th class="text-center">TD</th>
              <th class="text-center">Fumb</th>
              <th class="text-center">Long</th>
            </tr>
            </thead>
            <tbody>
            <tr class="t-content">
              <td class="text-left padded">Tom Brady</td>
              <td>30</td>
              <td>62</td>
              <td>2</td>
              <td>2</td>
              <td>1</td>
              <td>6</td>
            </tr>
            <tr class="t-content">
              <td class="text-left padded">
                <strong>Total</strong>
              </td>
              <td>
                <strong>30</strong>
              </td>
              <td>
                <strong>62</strong>
              </td>
              <td>
                <strong>2</strong>
              </td>
              <td>
                <strong>2</strong>
              </td>
              <td>
                <strong>1</strong>
              </td>
              <td>
                <strong>6</strong>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
