<ng-template #homePitcherTpl let-game="game">
  <ng-container *ngIf="game.home_team_starting_pitcher_profile_url && game.home_team_starting_pitcher_name">
    <a class="link-black-underline" [routerLink]="game.home_team_starting_pitcher_profile_url">
      {{ game.home_team_starting_pitcher_name}}
    </a>
    {{' (' + game.home_team_starting_pitcher_hand + ') ' + game.home_team_starting_pitcher_wins + '-' + game.home_team_starting_pitcher_losses }}
  </ng-container>

</ng-template>

<ng-template #seasonDD let-last="last">
  <div ngbDropdown class="grouped-dropdown dropdown">
    <button type="button" class="grouped-dropdown-btn btn btn-secondary first px-3" [ngClass]="{'last': last}" id="season-dd" ngbDropdownToggle>
      <span class="pr-0 pr-sm-3">{{params.year}}</span> <img class="down-arrow" src="/assets/images/arrow-down.png" alt="arrow-down" />
    </button>
    <div class="dropdown-menu" aria-labelledby="season-dd">
      <div *ngFor="let season of teamSchedule.seasons_dropdown;">
        <button
          [ngClass]="{'dd-active-btn': params.year === season.year}"
          (click)="onYearDdChange(season)"
          class="dropdown-item">
          <span>{{season.name}}</span>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #awayPitcherTpl let-game="game">
  <ng-container *ngIf="game.away_team_starting_pitcher_profile_url && game.away_team_starting_pitcher_name">
    <a class="link-black-underline" [routerLink]="game.away_team_starting_pitcher_profile_url">
      {{ game.away_team_starting_pitcher_name}}
    </a>
    {{' (' + game.away_team_starting_pitcher_hand + ') ' + game.away_team_starting_pitcher_wins + '-' + game.away_team_starting_pitcher_losses}}
  </ng-container>
</ng-template>

<!-- Starting Lineups Content -->
<div class="team-lineup content">
  <!-- Starting Lineup Box Loader -->
  <div *ngIf="!teamSchedule" class="starting-lineup-loader">
    <img class="loader-image" alt="spinner" src="/assets/images/Ripple.svg">
  </div>
  <!-- Page Wrap -->
  <div *ngIf="teamSchedule">
    <div  class="page-wrap container-fluid clearfix">
      <!-- Breadcrumbs -->
      <app-breadcrumb (performActionOnClick)="performActionOnBreadcrumbClick($event)"></app-breadcrumb>
      <!-- Starting Lineups Page Title -->
      <div class="row">
        <div class="team-lineup-heading-wrap mlb-team-lineup-header col-lg-8 col-12">
          <!-- Team Lineup Heading Text-->
          <div class="team-lineup-heading-text">
            <!-- Team Lineup Heading Left -->
            <div class="team-lineup-heading-left">
              <div class="team-logo">
                <img [type]="'white'" [appSpriteImg]="'mlb'" align="middle" [src]="teamSchedule.nav.team_logo_white" alt="{{teamSchedule.nav.team_name_full}}"/>
              </div>
              <div class="team-heading-info">
                <h1 class="team-name">
                  <span class="hidden-xs-down">{{teamSchedule.heading}}</span>
                  <span class="hidden-sm-up">{{teamSchedule.nav.team_name_full | lastTeamName}} Schedule</span>
                </h1>
                <h4 class="page-subheading team-meta-info">
                  <span class="team-record">{{teamSchedule.nav.team_record}},</span>
                  <!-- Team Division Rank -->
                  <span class="team-division-rank">{{teamSchedule.nav.team_rank}}</span>
                  <span class="team-league-and-division"> in {{teamSchedule.nav.team_league}} {{teamSchedule.nav.team_division}}</span>
                </h4>
              </div>
            </div>

            <!-- Team Lineup Heading Right -->
            <app-team-lineup-heading-right *ngIf="teamSchedule.nav.opp_abbr && isDefaultSeason" [nav]="teamSchedule.nav"></app-team-lineup-heading-right>
          </div>
          <!-- Collapse Menu -->
          <div class="in-page-collapse-toggle">
            <button type="button" class="collapse-page-nav-btn btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
              Menu
            </button>
          </div>
          <div class="in-page-nav-menu" [ngbCollapse]="!isCollapsed" [ngClass]="{'hidden': !isCollapsed}">
            <!-- Team Lineup Heading Navigation -->
            <div class="page-heading-navigation">
              <div *ngIf="!teamSchedule.nav.is_home && teamSchedule.nav.team_lineup_route" class="home-team-tab tab-btn-wrap">
                <a [routerLink]="[teamSchedule.nav.team_lineup_route]"
                   routerLinkActive="active"
                   [appPreselectMlbLineupTeamSeason]="params.year"
                   [routerLinkActiveOptions]="{exact: true}"
                   class="page-heading-nav-btn">{{teamSchedule.nav.team_name}} Lineup</a>
              </div>
              <div *ngIf="teamSchedule.nav.is_home && teamSchedule.nav.opp_lineup_route" class="home-team-tab tab-btn-wrap">
                <a [routerLink]="[teamSchedule.nav.opp_lineup_route]"
                   routerLinkActive="active"
                   [appPreselectMlbLineupTeamSeason]="params.year"
                   [routerLinkActiveOptions]="{exact: true}"
                   class="page-heading-nav-btn">{{teamSchedule.nav.opp_name}} Lineup</a>
              </div>
              <div *ngIf="teamSchedule.nav.is_home && teamSchedule.nav.team_lineup_route" class="away-team-tab tab-btn-wrap">
                <a [routerLink]="[teamSchedule.nav.team_lineup_route]"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact: true}"
                   class="page-heading-nav-btn">{{teamSchedule.nav.team_name}} Lineup</a>
              </div>
              <div *ngIf="!teamSchedule.nav.is_home && teamSchedule.nav.opp_lineup_route" class="away-team-tab tab-btn-wrap">
                <a [routerLink]="[teamSchedule.nav.opp_lineup_route]"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact: true}"
                   class="page-heading-nav-btn">{{teamSchedule.nav.opp_name}} Lineup</a>
              </div>
              <div *ngIf="teamSchedule.nav.matchup_route" class="tab-btn-wrap">
                <a [appMlbMatchupIdPreselect]="teamSchedule.nav.game_id" [routerLink]="[teamSchedule.nav.matchup_route]"
                   class="page-heading-nav-btn">Matchups</a>
              </div>
              <!--news commented-->
              <!--<div *ngIf="teamSchedule.nav.team_news_route" class="tab-btn-wrap">-->
                <!--<a [routerLink]="[teamSchedule.nav.team_news_route]"-->
                   <!--[appPreselectMlbNewsTeamSeason]="params.year"-->
                   <!--[routerLinkActive]="'active'"-->
                   <!--class="page-heading-nav-btn">News</a>-->
              <!--</div>-->
              <div *ngIf="teamSchedule.nav.team_roster_route" class="tab-btn-wrap">
                <a [routerLink]="[teamSchedule.nav.team_roster_route]"
                   [appPreselectMlbRosterTeamSeason]="params.year"
                   [routerLinkActive]="'active'"
                   class="page-heading-nav-btn">Roster</a>
              </div>
              <div *ngIf="teamSchedule.nav.team_injuries_route" class="tab-btn-wrap">
                <a [routerLink]="[teamSchedule.nav.team_injuries_route]" class="page-heading-nav-btn">Injuries</a>
              </div>
              <div *ngIf="teamSchedule.nav.team_schedule_route" class="tab-btn-wrap last">
                <a
                  [routerLink]="[teamSchedule.nav.team_schedule_route]"
                  [routerLinkActive]="'active'"
                  class="page-heading-nav-btn"
                >Schedule</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 after-text-margin zero-lg-height">
          <app-ad-component [league]="'mlb'"></app-ad-component>
        </div>
        <!--<div class="col-lg-4 hidden-md-down heading-betting-card-wrapper" >-->
          <!--<app-betting-card-wrapper-with-controls-->
            <!--[league]="'mlb'"-->
            <!--[status]="teamSchedule.nav.status"-->
            <!--[cards]="teamSchedule.bet_cards"-->
            <!--[gameId]="teamSchedule.nav.game_id"></app-betting-card-wrapper-with-controls>-->
        <!--</div>-->
      </div>
    </div>

    <div class="container-fluid mt-0 pb-3">
      <div class="row">
        <div *ngIf="teamSchedule.intro_paragraph" class="col-12 col-lg-8 flex-last flex-sm-unordered">
          <p class="site-pages-content" [innerHtml]="teamSchedule.intro_paragraph | safeHtml"></p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12 hidden-sm-up">
              <div class="grouped-dropdown-wrapper my-0 btn-group">

                <ng-template [ngTemplateOutlet]="seasonDD" [ngTemplateOutletContext]="{last: false}"></ng-template>



                <app-dropdown
                  [ddData]="ddData"
                  [filterItems]="onDropdownChange.bind(this)"
                  prop="tabs"
                  className="big-dd first last"
                  isSingleSelect="true"
                ></app-dropdown>
              </div>
            </div>
            <div class="col-12 hidden-xs-down">
              <div class="d-flex">
                <div class="grouped-dropdown-wrapper my-0 not-mobile btn-group mr-3">

                  <ng-template [ngTemplateOutlet]="seasonDD" [ngTemplateOutletContext]="{last: true}"></ng-template>

                </div>
                <div class="toggles-in-page-wrapper my-0">
                  <div class="toggles-in-page-group btn-group toggles-group">
                    <button *ngFor="let tab of ddData.tabs; let first = first; let last = last;"
                            (click)="onButtonGroupClick(tab.prop);"
                            class="toggle-in-page" [ngClass]="{'active': tab.selected, 'first': first, 'last': last}">{{tab.name}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div *ngIf="ddData.activeTab === 'all' || ddData.activeTab === 'upcoming'">
            <h2 class="page-heading-two">Upcoming Games</h2>
            <div class="row" *ngIf="notPlayedGames?.length; else noUpcomingGames">
              <div class="col-12 multi-row-data-table-wrapper">
                <table class="multi-row-data-table t-stripped" [mfRowsOnPage]="10000" [mfData]="notPlayedGames" mfSortBy="date_time" mfSortOrder="asc" #notPlayedGamesMF="mfDataTable">
                  <thead>
                  <tr class="t-sub-header">
                    <th scope="col" class="text-center" width="5%">
                      <mfSorter by="date_time">Date</mfSorter>
                    </th>
                    <th scope="col" class="text-center" width="6%">
                      <mfSorter by="date_time">Time</mfSorter>
                    </th>
                    <th scope="col" class="text-center" width="20%">
                      <mfSorter [by]="sortLineup.bind(this, 'opponent_abbr', 'home_team', 'home_lineup', 'away_lineup')">Opponent</mfSorter>
                    </th>
                    <th scope="col" class="text-center" width="5%">
                      <mfSorter by="record">Record</mfSorter>
                    </th>
                    <th scope="col" class="text-center">
                      <mfSorter [by]="sortLineup.bind(this, 'team_abbr', 'home_team', 'home_team_starting_pitcher_name', 'away_team_starting_pitcher_name')">Opponent Starting Pitcher</mfSorter>
                    </th>
                    <th scope="col" class="text-center">
                      <mfSorter [by]="sortLineup.bind(this, 'opponent_abbr', 'home_team', 'home_team_starting_pitcher_name', 'away_team_starting_pitcher_name')">{{teamSchedule.nav.team_name}} Starting Pitcher</mfSorter>
                    </th>
                    <th scope="col" class="text-center" width="11%">
                      <mfSorter [by]="sortLineup.bind(this, 'opponent_abbr', 'home_team', 'home_lineup', 'away_lineup')">Opponent Starting Lineup</mfSorter>
                    </th>
                    <th scope="col" class="text-center" width="11%">
                      <mfSorter [by]="sortLineup.bind(this, 'team_abbr', 'home_team', 'home_lineup', 'away_lineup')">{{teamSchedule.nav.team_name}} Starting Lineupp</mfSorter>
                    </th>
                    <th scope="col" class="text-center" width="*">
                      <mfSorter [by]="sortMatchups">Matchup</mfSorter>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="t-content" *ngFor="let game of notPlayedGamesMF.data">
                    <td>{{game.date_time | amTimeZone | amDateFormat: 'M/D/YY'}}</td>
                    <td>{{game.date_time | amTimeZone | amDateFormat:'h:mm a' | lowercase}}</td>
                    <td class="text-left px-2">
                      {{game.team_abbr === game.home_team ? 'vs' : 'at'}}
                      <a [routerLink]="[(game.opponent_abbr === game.home_team ? game.home_lineups_route : game.away_lineups_route) || '']" [appPreselectMlbLineupTeamSeason]="params.year" rel="nofollow" class="link-black">
                        <img [type]="'white'" [appSpriteImg]="'mlb'" class="team-logo-mini" [src]="(game.opponent_abbr === game.home_team ? game.home_team_logo_white : game.away_team_logo_white)" alt="{{game.opponent_abbr === game.home_team ? game.home_lineup : game.away_lineup}}">
                      </a>
                      <a [routerLink]="[(game.opponent_abbr === game.home_team ? game.home_lineups_route : game.away_lineups_route) || '']" [appPreselectMlbLineupTeamSeason]="params.year" class="link-black-underline">
                        {{game.opponent_abbr === game.home_team ? game.home_lineup : game.away_lineup}}
                      </a>
                    </td>
                    <td>{{game.record}}</td>
                    <td>
                  <span *ngIf="game.team_abbr === game.home_team">
                    <ng-template [ngTemplateOutlet]="homePitcherTpl" [ngTemplateOutletContext]="{game: game}"></ng-template>
                  </span>
                      <span *ngIf="game.team_abbr !== game.home_team">
                    <ng-template [ngTemplateOutlet]="awayPitcherTpl" [ngTemplateOutletContext]="{game: game}"></ng-template>
                  </span>
                    </td>
                    <td>
                  <span *ngIf="game.opponent_abbr === game.home_team">
                    <ng-template [ngTemplateOutlet]="homePitcherTpl" [ngTemplateOutletContext]="{game: game}"></ng-template>
                  </span>
                      <span *ngIf="game.opponent_abbr !== game.home_team">
                    <ng-template [ngTemplateOutlet]="awayPitcherTpl" [ngTemplateOutletContext]="{game: game}"></ng-template>
                  </span>
                    </td>
                    <td>
                      <a [appPreselectMlbLineupTeamSeason]="params.year" *ngIf="(game.opponent_abbr === game.home_team ? game.home_lineups_route : game.away_lineups_route)" [routerLink]="[(game.opponent_abbr === game.home_team ? game.home_lineups_route : game.away_lineups_route)]">
                        <span class="hidden-lg-down">{{game.opponent_abbr === game.home_team ? game.home_lineup : game.away_lineup}}</span>
                        <span class="hidden-xl-up">{{(game.opponent_abbr === game.home_team ? game.home_lineup : game.away_lineup) | lastTeamName}}</span>
                      </a>
                    </td>
                    <td>
                      <a [appPreselectMlbLineupTeamSeason]="params.year" *ngIf="(game.team_abbr === game.home_team ? game.home_lineups_route : game.away_lineups_route)" [routerLink]="[(game.team_abbr === game.home_team ? game.home_lineups_route : game.away_lineups_route)]">
                        <span class="hidden-lg-down">{{game.team_abbr === game.home_team ? game.home_lineup : game.away_lineup}}</span>
                        <span class="hidden-xl-up">{{(game.team_abbr === game.home_team ? game.home_lineup : game.away_lineup) | lastTeamName}}</span>
                      </a>
                    </td>
                    <td><a *ngIf="game.matchup_route" [routerLink]="[game.matchup_route || '']">{{game.away_lineup | lastTeamName}} at {{game.home_lineup | lastTeamName}}</a></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <ng-template #noUpcomingGames>
              <h4>No Upcoming Games</h4>
            </ng-template>
          </div>
        </div>
        <div class="col-12">
          <div *ngIf="ddData.activeTab === 'all' || ddData.activeTab === 'completed'">
            <h2 class="page-heading-two">Completed Games</h2>
            <div class="row" *ngIf="finishedGames?.length; else noCompletedGames">
              <div class="col-12 multi-row-data-table-wrapper">
                <table class="multi-row-data-table t-stripped" [mfRowsOnPage]="10000" [mfData]="finishedGames" mfSortBy="date_time" mfSortOrder="desc" #finishedGamesMF="mfDataTable">
                  <thead>
                  <tr class="t-sub-header">
                    <th scope="col" class="text-center" width="5%">
                      <mfSorter by="date_time">Date</mfSorter>
                    </th>
                    <th scope="col" class="text-center" width="6%">
                      <mfSorter by="date_time">Time</mfSorter>
                    </th>
                    <th scope="col" class="text-center" width="20%">
                      <mfSorter [by]="sortLineup.bind(this, 'opponent_abbr', 'home_team', 'home_lineup', 'away_lineup')">Opponent</mfSorter>
                    </th>
                    <th scope="col" class="text-center" width="5%">
                      <mfSorter by="score">Score</mfSorter>
                    </th>
                    <th scope="col" class="text-center" width="5%">
                      <mfSorter by="record">Record</mfSorter>
                    </th>
                    <th scope="col" class="text-center">
                      <mfSorter by="winning_pitcher_name">Winning Pitcher</mfSorter>
                    </th>
                    <th scope="col" class="text-center">
                      <mfSorter by="losing_pitcher_name">Losing Pitcher</mfSorter>
                    </th>
                    <th scope="col" class="text-center">
                      <mfSorter by="saving_pitcher_name">Save</mfSorter>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="t-content" *ngFor="let game of finishedGamesMF.data">
                    <td>{{game.date_time | amTimeZone | amDateFormat: 'M/D/YY'}}</td>
                    <td>{{game.date_time | amTimeZone | amDateFormat:'h:mm a' | lowercase}}</td>
                    <td class="text-left px-2">
                      {{game.team_abbr === game.home_team ? 'vs' : 'at'}}
                      <a [routerLink]="[(game.opponent_abbr === game.home_team ? game.home_lineups_route : game.away_lineups_route) || '']" [appPreselectMlbLineupTeamSeason]="params.year" rel="nofollow" class="link-black">
                        <img [type]="'white'" [appSpriteImg]="'mlb'" class="team-logo-mini" [src]="(game.opponent_abbr === game.home_team ? game.home_team_logo_white : game.away_team_logo_white)" alt="{{game.opponent_abbr === game.home_team ? game.home_lineup : game.away_lineup}}">
                      </a>
                      <a [routerLink]="[(game.opponent_abbr === game.home_team ? game.home_lineups_route : game.away_lineups_route) || '']" [appPreselectMlbLineupTeamSeason]="params.year" class="link-black-underline">
                        {{game.opponent_abbr === game.home_team ? game.home_lineup : game.away_lineup}}
                      </a>
                    </td>
                    <td>{{game.score}}</td>
                    <td>{{game.record}}</td>
                    <td>
                      <ng-container *ngIf="game.winning_pitcher_profile_url && game.winning_pitcher_name">
                        <a class="link-black-underline" [routerLink]="game.winning_pitcher_profile_url">
                          {{ game.winning_pitcher_name}}
                        </a>
                        {{' (' + game.winning_pitcher_hand + ') ' + game.winning_pitcher_wins + '-' + game.winning_pitcher_losses }}
                      </ng-container>
                    </td>
                    <td>
                      <ng-container *ngIf="game.losing_pitcher_profile_url && game.losing_pitcher_name">
                        <a class="link-black-underline" [routerLink]="game.losing_pitcher_profile_url">
                          {{ game.losing_pitcher_name}}
                        </a>
                        {{' (' + game.losing_pitcher_hand + ') ' + game.losing_pitcher_wins + '-' + game.losing_pitcher_losses }}
                      </ng-container>
                    </td>
                    <td>
                      <ng-container *ngIf="game.saving_pitcher_profile_url && game.saving_pitcher_name">
                        <a class="link-black-underline" [routerLink]="game.saving_pitcher_profile_url">
                          {{ game.saving_pitcher_name}}
                        </a>
                        {{' (' + game.saving_pitcher_hand + ') ' + game.saving_pitcher_wins + '-' + game.saving_pitcher_losses }}
                      </ng-container>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <ng-template #noCompletedGames>
              <h4>No Completed Games</h4>
            </ng-template>
          </div>
        </div>
        <div *ngIf="teamSchedule.bottom_paragraph" class="col-12 flex-last flex-sm-unordered">
          <h2 *ngIf="teamSchedule.bottom_header" class="page-heading-two">
            {{teamSchedule.bottom_header}}
          </h2>
          <p class="site-pages-content" [innerHtml]="teamSchedule.bottom_paragraph | safeHtml"></p>
        </div>
      </div>
    </div>
  </div>
</div>
