/**Privacy-Policy**/
.Privacy-Policy{
  float:left;
  width:100%;
  margin-top:20px;
}
.Privacy-Policy h1{
  float:left;
  width:100%;
  clear:both;
  font-family: 'Lato', sans-serif;
  font-weight:700;
  font-size:17px;
}
.Privacy-Policy p{
  float:left;
  width:100%;
  font-family: 'Lato', sans-serif;
  font-size:13px;
}
.Privacy-Policy a, .Privacy-Policy a:hover, .Privacy-Policy p a:active, .Privacy-Policy p a:focus{
  color:#01afed;
  text-decoration:none;
}
.Privacy-Policy ul{
  float:left;
  padding:0px;
  margin:0px 0px 1rem 15px;
}
.Privacy-Policy ul li{
  float:left;
  width:100%;
  font-size:13px;
}
/**Privacy-Policy End**/
